<nav class="navbar navbar-light bg-light pl-0 pr-0">
    <div class="container">

    </div>
</nav>
<section class="main cmspage privacy">
    <div class="container">
        <h1 class="brgrmed col-secondary text-center">Privacy Policy</h1>
        <div class="row">
            <div class="col-sm-12">
                <p>
                    <strong class="col-primary">March 17th, 2018</strong>
                </p>
                <p>This Privacy Policy describes the information collected by Etail Inc. (“Bevvi”, “us”, “we”), how that
                    information
                    may be used, with whom it may be shared, and your choices about such uses and disclosures. By using
                    the
                    website
                    <a href="http://www.getbevvi.com">www.getbevvi.com</a> (the “Site”) and the services, features,
                    content, applications or widgets, as well
                    as mobile device applications offered by Bevvi (collectively with the Site, the “Services”), you are
                    accepting the practices described in this Privacy Policy. This Policy forms an integral part
                    of Bevvi’s
                    <a href="termsofuse.html">Terms of Use</a>, which is incorporated by reference. Any capitalized term
                    used but not defined in this
                    Policy will have the meaning defined in the Terms of Use.</p>

                <p style="margin-bottom: 45px;">
                    <strong class="col-primary">Please read this Privacy Policy carefully when using the
                        Services.</strong>
                </p>


                <h3>The Information Bevvi May Collect</h3>

                <h4>Information You Provide</h4>
                <p>Bevvi may collect and store any personal information you enter through the Services or the Site. This
                    may
                    include personally identifying information, such as your name, home address, current location,
                    e-mail
                    address, phone number, date of birth, credit card or debit card information, and bank account
                    information.
                    Bevvi may also request information about a Retailer’s business address, business hours, business
                    website,
                    liquor license, current inventory, and product prices.</p>
                <p>Bevvi does not store any financial information provided by a Customer or Retailer, even though we may
                    request
                    information about you and your credit card and/or bank account. Bevvi does not store Customer and
                    Retailer
                    financial data due to its use of third party agents as its financial transaction facilitator. Please
                    refer to such third parties' Terms of Use and Privacy Policies for more information about how these
                    parties
                    use your information. Customer and Retailer financial information is handled, processed, and stored
                    by
                    the third party financial transaction processing companies. To the extent that Bevvi uses third
                    party
                    providers for financial transaction services, we believe that such third parties take the privacy of
                    your personal information seriously and will use your information only in accordance with the terms
                    of
                    their privacy policies.</p>
                <p>While Bevvi uses industry-standard Secure Socket Layer (SSL) encryption technology, no system can be
                    completely
                    secure. Therefore, Bevvi does not promise, and you should not expect, that such any content or
                    information
                    you submit to the Site or Services may not be inadvertently collected and that any such content or
                    information
                    will remain secure. The information you provide to us will be kept in our database. We will use
                    reasonable
                    means to protect the integrity and safety of the database. However, we cannot guarantee that third
                    parties
                    will not improperly access the database. Bevvi relies on third party professional hosting solutions
                    that
                    use reasonable care in maintaining security measures to protect you and our systems against
                    unauthorized
                    access to, or alteration, disclosure, destruction or loss of personal data hosted on our system.</p>
                <p>You also may give us permission to access your information on other services. If you connect to the
                    Services
                    using your Facebook, Instagram, Google, Twitter, WhatsApp or other third-party service credentials
                    (each,
                    a “Supported Platform”), you authorize us to collect your authentication information, such as your
                    username,
                    encrypted access credentials, and other information that may be available on or through your
                    Supported
                    Platform account, including but not limited to your name, age, email address, phone number,
                    pictures,
                    and friends/followers lists. The information we get from Supported Platforms may depend on your
                    settings
                    or their privacy policies.</p>


                <h4>Information Collected Automatically</h4>
                <p>Like many sites on the Internet, the Site automatically collects information from your browser when
                    you visit
                    the Site. This information may include your location, internet addresses, and other web log
                    information
                    (such as your web request, Internet Protocol (“IP”) address, browser type, device type, browser /
                    device
                    language, referring / exit pages and URLs, platform type, number of clicks, domain names, landing
                    pages,
                    pages viewed and the order of those pages, the amount of time spent on particular pages, the date
                    and
                    time of your request, and one or more cookies that may uniquely identify your browser or device [see
                    “Cookies” below]).</p>
                <p>In order for Bevvi to work with your iPhone, iPad, Android phone, or other mobile device, Bevvi must
                    collect
                    your Device Identification Code or "DIC". The DIC is a special type of identifier used in software
                    applications
                    in order to provide a unique reference number for applications like those used by your mobile
                    device.
                    Your DIC is not shared with other users.</p>
                <p>In addition, with your permission, we will access your location information from GPS-enabled devices
                    that
                    you have enabled or when you use location-based Services. If you grant such permission, we may
                    collect
                    information about your precise geolocation information (i.e., your real-time geographic location),
                    and
                    may use that information to customize the Site, Services, and our communications to you with
                    information
                    and features based upon your location(s).</p>
                <p>This information is logged for internal use by Bevvi, including helping diagnose technical problems
                    and to
                    administer the Site and Services in a manner that allows us to constantly improve the quality of the
                    Services provided to you. We may also combine all of this non-identifying information with other
                    non-identifying
                    information to infer interests or demographic characteristics. We also may share aggregated
                    non-identifying
                    information with our business partners, including but not limited to Retailers.</p>
                <p>Bevvi is the sole owner of information collected on the Site and Services. We reserve the right to
                    screen,
                    copy, transmit and review all communications conducted by or through the Site and Services. We may
                    conduct
                    these activities for technical support purposes and in order to enforce our policies and agreements.
                    At our sole discretion, we may decide to conduct these activities at various times or not at all.
                </p>

                <h4>Cookies and Use of Cookie Data</h4>
                <p>Like many sites on the Internet, when you visit the Site, Bevvi may assign your computer one or
                    more cookies
                    to facilitate access to the Site and to personalize your online experience. Through the use of a
                    cookie,
                    Bevvi also may automatically collect information about your online activity on the Site, such as the
                    web pages you visit, the time and date of your visits, the links you click, and the searches you
                    conduct
                    on the Site. Bevvi may use this data to better understand how you interact with the Site, to monitor
                    aggregate usage by our users and web traffic routing on the Site, and to improve the Site and our
                    Services.
                    Most browsers automatically accept cookies, but you can usually modify your browser setting to
                    decline
                    cookies. If you choose to decline cookies, please note that you may not be able use some of the
                    interactive
                    features offered on the Site. In addition, please be aware that other parties may also place their
                    own
                    cookies on or through the Site, and may collect or solicit personal information from you. Other
                    cookies
                    may reflect de-identified demographic or other data linked to the registration data you have
                    submitted
                    to Bevvi in hashed, non-human readable form. No personally identifiable information is contained in
                    these
                    cookies. Because there is not yet a consensus on how companies should respond to web browser-based
                    or
                    other do-not-track ("DNT") mechanisms, the Site does not respond to web browser-based DNT signals at
                    this time.</p>
                <p>If you use Bevvi's mobile device applications, Bevvi may also use mobile cookies. A mobile cookie is
                    a small
                    data file transferred to your mobile device for record-keeping purposes. These mobile cookies help
                    Bevvi
                    track session-based information and also better understand the effectiveness of the Services. These
                    mobile
                    cookies do not contain any personally identifiable information.</p>

                <h4>Information Collected by Third Parties</h4>
                <p>Bevvi may allow third parties, advertising companies, and ad networks to display advertisements on
                    the Site
                    and/or the Services. These companies may use tracking technologies, such as cookies or pixel tags,
                    to
                    collect information about users who view or interact with their advertisements. Bevvi does not share
                    information that personally identifies you to these third parties.</p>
                <p>If you connect your Bevvi account to a Supported Platform, you may give Bevvi permission to share
                    your activity
                    on the Services on the Supported Platform and/or to invite your friends/followers on the Supported
                    Platform
                    to the Services. You understand that such activities may be attributed to your account on Supported
                    Platforms
                    and may be published on the Supported Platforms.</p>
                <p>You understand and agree that Supported Platforms’ or other third parties’ use of information they
                    collect
                    from you is governed by their privacy policies, and Bevvi’s use of such information is governed by
                    this
                    Privacy Policy.</p>
                <p>In addition, Bevvi may receive certain information collected by third parties, such as when third
                    parties
                    collect email addresses and other contact information from their customers. Those third parties
                    share
                    this contact information with Bevvi for its marketing purposes.</p>

                <h4>Agents</h4>
                <p>Bevvi employs or engages other companies and individuals to perform business functions on behalf of
                    the Site
                    and Services. These persons are provided with personal identifying information required to perform
                    their
                    functions, but are prohibited by contract from using the information for other purposes. These
                    persons
                    engage in a variety of functions which include, but are not limited to, removing repetitive
                    information
                    from user lists, analyzing data, providing marketing assistance, processing credit card payments,
                    securely
                    storing financial data, and providing user services.</p>
                <p>Any billing or payment information you supply (if collected by and through the Site, as opposed to
                    being
                    directly inputted and collected by and through third parties) shall be encrypted for transmittal to
                    a
                    third party intermediary for processing. Such information is used only to bill a Customer for those
                    purchases
                    you choose to make through the Site or Services and to provide payment to a Retailer for sales made
                    through
                    the Site or Services. The process is designed to protect your financial information against
                    unauthorized
                    misappropriation by third parties. As the technological landscape is constantly changing, no
                    security
                    system is absolutely secure. Bevvi cannot and does not guarantee the security of any of its
                    databases
                    and information contained therein, nor can Bevvi guarantee any supplied information will be
                    absolutely
                    secure from interception during transmission to the Site and/or Services over the Internet.</p>

                <h3>How Bevvi Uses the Information It Collects</h3>
                <p>Bevvi may use information that it collects as described above to:</p>
                <ul>
                    <li>deliver the services that you have requested.</li>
                    <li>refer you to Retailers that are close to your current location.</li>
                    <li>provide you with customer support.</li>
                    <li>address user complaints.</li>
                    <li>perform research and analysis about your use of, or interest in, our products, services,
                        content.</li>
                    <li>improve the Site and Services.</li>
                    <li>communicate with you by email about our products, services, content.</li>
                    <li>communicate with you by email about products, services or content offered by others that may be
                        of interest
                        to you.</li>
                    <li>enforce or exercise any rights in Bevvi’s Terms of Use or Retailer Services Agreement.</li>
                    <li>perform functions as otherwise described to you at the time of collection.</li>
                </ul>
                <p>Bevvi may also release your personal information to a third-party in order to protect, establish, or
                    exercise
                    our legal rights or defend against legal claims; comply with a subpoena, court order, legal process,
                    or other legal requirement; or when we believe in good faith that such disclosure is necessary to
                    comply
                    with the law, prevent imminent physical harm or financial loss, or investigate, prevent, or take
                    action
                    regarding illegal activities, suspected fraud, threats to our property, or as necessary or
                    appropriate
                    in connection with an investigation of fraud, intellectual property infringement, piracy, or other
                    unlawful
                    activity.
                </p>
                <p>Through your settings within the Site and Services, you can choose whether you receive mobile
                    application
                    notifications and manage your profile information. You will receive email notifications from us
                    regarding
                    your orders and activity on the Site and Services, as well as information on our products and
                    services
                    from time to time. To change, customize, or limit access to or sharing of information collected from
                    Supported Platforms, please visit your account settings on the applicable Supported Platform.</p>

                <h3>Retailer Services Transaction Information</h3>
                <p>Please note that to the extent you include any personal information in any content you upload to the
                    Site
                    or Services, we have the right to use and/or publish that content in connection with the operation
                    of
                    the Site or Services. When you use the Services, your general location may be shared with other
                    users
                    in order to match you with Retailers or Customers who are currently near you.</p>
                <p>As part of the Retailer Services transaction process, Bevvi will facilitate the sharing of
                    information between
                    Customer and Retailer to facilitate the provision of Retailer Services. As part of the process of
                    performing
                    Retailer Services, Retailers may obtain a Customer’s name, photograph, phone number, home address,
                    and/or
                    other information. As part of the process of receiving Retailer Services, Customers may obtain a
                    Retailer’s
                    name, phone number, business address, and/or other information. Retailer and Customer may use this
                    information
                    only for Bevvi-related communications or for Bevvi-facilitated transactions. Bevvi has not granted
                    you
                    a license to use the information for unsolicited commercial messages or unauthorized transactions.
                </p>

                <h3>Third-Party Websites</h3>
                <p>There are a number of places on the Site and the Services where you may click on a link to access
                    other websites
                    that do not operate under this Privacy Policy. For example, if you click on an advertisement or a
                    hyperlink
                    on the Site or the Services, you may be taken to a website that Bevvi does not control. These third
                    party
                    websites may independently solicit and collect information, including personal information, from
                    you.
                    Bevvi recommends that you consult the privacy statements of all third party websites you visit by
                    clicking
                    on the "privacy" link typically located at the bottom of the webpage you are visiting.</p>

                <h3>Children's Privacy</h3>
                <p>Bevvi forbids the use of the Site and Services to individuals below the age of 21. Bevvi therefore
                    does not
                    knowingly collect personal information from children under the age of 13.</p>

                <h3>Notice to California Users</h3>
                <p>Subject to the limitations under California Civil Code § 1798.83, if you are a California resident,
                    you may
                    ask us to provide you with a list of certain categories of personal information that we have
                    disclosed
                    to third parties for their direct marketing purposes during the immediately preceding calendar year.
                    You may also request the identity of certain third parties that received your personal information
                    from
                    us for their direct marketing purposes during the immediately preceding calendar year. You may make
                    a
                    request as described hereinabove once a year.</p>
                <p>To make such a request, you can contact us at support@getbevvi.com or mailing us at: Etail Inc., 425
                    West
                    53rd Street, #208, New York, NY 10019. Please mention in your communication that you are making a
                    "California
                    Shine the Light" inquiry. We will respond within thirty (30) days.</p>


                <h3>Visiting the Site and Services From Outside the United States</h3>
                <p>This Privacy Policy is intended to cover collection of information on the Services from residents of
                    the
                    United States. If you are visiting the Site or using the Services from outside the United States,
                    please
                    be aware that your information may be transferred to, stored, and processed in the United States
                    where
                    Bevvi's servers are located and Bevvi’s central database is operated. By using the Site or Service,
                    you
                    understand that your information may be transferred to Bevvi's facilities and those third parties
                    with
                    whom Bevvi shares it as described in this Privacy Policy. You are responsible for ensuring that
                    information
                    you share conforms to all local data protection laws.</p>

                <h3>Changes to the Privacy Policy</h3>
                <p>Bevvi will occasionally update this Privacy Policy. When Bevvi posts changes to this Privacy Policy,
                    it will
                    revise the date at the top of this Privacy Policy. Bevvi recommends that you check the Site from
                    time
                    to time to inform yourself of any changes in this Privacy Policy or any of Bevvi's other policies.
                </p>

            </div>
        </div>
    </div>
</section>