<nav class="navbar navbar-light bg-light pl-0 pr-0">
    <div class="container">

    </div>
</nav>
<section class="main cmspage terms">
    <div class="container">
        <h1 class="brgrmed col-secondary text-center">Terms of Use</h1>
        <div class="row">
            <div class="col-sm-12">
                <p>Welcome to getbevvi.com and the Bevvi mobile device applications. Please read these Terms of Use
                    carefully
                    before using the services offered by Etail Inc. ("Bevvi", "us", "we"). These Terms of Use set forth
                    the
                    terms and conditions of our relationship and for your use of the getbevvi.com website and any of its
                    subdomains (the "Site") and the services, features, content, applications, or mobile device
                    applications
                    offered by Bevvi (collectively, the "Services") to you (“you”, “your”).</p>
                <p>
                    <strong><span class="col-primary">IMPORTANT NOTICE:</span> THESE TERMS OF SERVICE CONTAIN AN
                        ARBITRATION AGREEMENT, WHICH WILL REQUIRE ANY USERS
                        TO SUBMIT ANY CLAIMS THEY MAY HAVE AGAINST BEVVI TO BINDING AND FINAL ARBITRATION.  IN ADDITION,
                        UNDER THE ARBITRATION AGREEMENT, USERS WILL ONLY BE PERMITTED TO PURSUE CLAIMS AGAINST BEVVI ON
                        AN
                        INDIVIDUAL BASIS, NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY CLASS OR REPRESENTATIVE ACTION OR
                        PROCEEDING.</strong>
                </p>
                <p>
                    <strong>THE SITE AND SERVICES ARE INTENDED SOLELY FOR USERS WHO ARE 21 YEARS OF AGE OR OLDER, AND
                        ANY REGISTRATION,
                        USE OR ACCESS TO THE SITE OR SERVICES BY ANYONE UNDER 21 IS STRICTLY PROHIBITED AND IN VIOLATION
                        OF THESE TERMS. BY USING THE SITE OR SERVICES, YOU EXPRESSLY REPRESENT AND WARRANT THAT YOU ARE
                        AT
                        LEAST 21 YEARS OF AGE.</strong>
                </p>

                <h3>The Bevvi Site and Services</h3>
                <ul>
                    <li>You understand that Bevvi provides and facilitates a platform for you (a “Customer”) to purchase
                        beverages
                        and other items from local businesses (a “Retailer”) in compliance with Bevvi's policies. Buyers
                        and Retailers are hereinafter referred to collectively as “users”.</li>
                    <li>You understand and agree that, as a result, Bevvi is not involved and does not participate in
                        the various
                        transactions between Customers and Retailers.</li>
                    <li>You understand and agree that, consequently, Bevvi does not enter into any contracts between any
                        users
                        for any purchase or sale, nor does it actually become involved in the actual transfer of legal
                        title
                        in any items from one party to another. </li>
                    <li>You understand and agree that Bevvi does not review, screen, or vet any users of Bevvi or the
                        content
                        or information provided by users through the Site and/or Services. Bevvi does not review,
                        screen,
                        or vet any products offered or the identity or background of any user. You further understand
                        and
                        agree that Bevvi cannot provide any assurance or guarantee that any user will actually conclude
                        any
                        purchase or sale transaction.</li>
                    <li>You understand and agree that, since Bevvi is a platform, it cannot bear responsibility or
                        liability
                        for any materials or information (including without limitation, text, identities, images,
                        content,
                        listings, copy, descriptions, and prices) posted by any user, including you, on the Site and/or
                        the
                        Services. </li>
                    <li>You understand and agree that your use of the Site and/or the Services is at your own risk.</li>
                </ul>


                <h3>The Agreement between Bevvi and You</h3>
                <ul>
                    <li>You understand that by accessing or using the Site or Services, you are agreeing to comply with
                        and be
                        bound by the terms and conditions contained herein ("Terms of Use" or "Agreement", which also
                        incorporates Bevvi’s
                        <a href="privacypolicy.html">Privacy Policy</a>).</li>
                    <li>This Agreement constitutes the entire and only agreement between us and you.</li>
                    <li>This Agreement supersedes all prior or contemporaneous agreements, representations, warranties
                        and understandings
                        with respect to the Site and the Services, the content, products or services provided by or
                        through
                        the Site and the Services, and the subject matter of this Agreement.</li>
                    <h4>You are responsible for reviewing changes to this Agreement</h4>
                    <li>This Agreement applies to all users of the Site and the Services.</li>
                    <li>Bevvi may make changes to this Agreement from time to time without specifically notifying you.
                    </li>
                    <li>Bevvi will post the latest Agreement on the Site and may post it on Bevvi's mobile device
                        applications,
                        but it is up to you to review it before using the Site or Services.</li>
                    <li>If you continue to use the Site or Services after any of these changes, your continued use will
                        mean
                        that you have accepted any changes to the Agreement.</li>
                    <li>In addition, some services offered through the Site and the Services may be subject to
                        additional terms
                        and conditions specified by Bevvi from time to time and your use of such services is subject to
                        those
                        additional terms and conditions, which are incorporated into this Agreement by this reference.
                    </li>
                </ul>


                <h3>Your Use of the Site and Services</h3>
                <h4>Your registration and account security</h4>
                <p>When you use the Site or the Services you may provide Bevvi certain registration and account
                    information,
                    which Bevvi will rely on to provide you with the Services. The following are your obligations when
                    creating,
                    registering, and maintaining the security and accuracy of your account:</p>
                <ul>
                    <li>You will register your account for your own use and not for the use of another person, alter
                        ego, or
                        other identity.</li>
                    <li>You will create only one account for yourself.</li>
                    <li>You will not assign or transfer your account to anyone without first getting Bevvi's written
                        consent.</li>
                    <li>You will not provide false or misleading information when you register an account.</li>
                    <li>If Bevvi terminates or disables your account, you may not create another account without first
                        getting
                        Bevvi's written consent.</li>
                    <li>Bevvi will post the latest Agreement on the Site and may post it on Bevvi's mobile device
                        applications,
                        but it is up to you to review it before using the Site or Services.</li>
                    <li>You will keep your contact and other information requested by Bevvi (such as age, address, etc.)
                        accurate
                        and up-to-date.</li>
                    <li>You will not share your password, let anyone other than you access your account, or do anything
                        that
                        might compromise the security of your account.</li>
                </ul>


                <h4>Purchase and Sales</h4>
                <p>If you make a purchase through Bevvi’s Site or the Services, you agree to be bound by the following
                    terms
                    in addition to other terms in these Terms of Use:</p>
                <ul>
                    <li>Bevvi does not charge any fees for you to set up an account or make a purchase.</li>
                    <li>You understand that any and all payment terms are stated in United States dollars.</li>
                    <li>If a Retailer accepts your order request, your credit or debit card will be charged for the
                        amount of
                        your purchase plus any applicable taxes and additional fees that the Licensed Retailer may
                        charge,
                        including but not limited to delivery fees. You understand and agree that payment for all
                        applicable
                        purchases and any taxes or additional charges that may be imposed by third parties are your sole
                        responsibility.
                    </li>
                    <li>You understand that any and all purchases will be made through a third party payment facilitator
                        engaged
                        by Bevvi. By using the third party payment facilitator payment processing services you agree to
                        the
                        payment facilitator’s terms of service and privacy policy.</li>
                    <li>You agree to ensure that at all times all credit card, debit card, and other payment information
                        supplied
                        by you is accurate and correct and kept updated with the third party payment or service facility
                        used by Bevvi and that you are fully authorized to use such payment information and account with
                        any third party payment or service facility used by Bevvi for purposes of paying for any
                        purchases.</li>
                    <li>You or the person picking up any order or accepting any order delivery made via the Site or
                        Services
                        must provide valid photo identification proving that you, he, or she is at least 21 years old at
                        the time of pick up or delivery. The Retailer and its employees and other agents are solely
                        responsible
                        for verifying such valid identification and proof of age.</li>
                    <li>A Retailer may decline your order request for any reason. If a Retailer declines your order
                        request for
                        any reason, the Retailer will issue you a full refund.</li>
                    <li>YOU AGREE THAT YOU SHALL NOT USE THE SITE OR SERVICES TO PURCHASE FOR, PICK UP FOR, OR DELIVER
                        TO ANY
                        PERSON UNDER 21 YEARS OF AGE, OR PROVIDE ANY INFORMATION REGARDING ANY PERSON UNDER 21 YEARS OF
                        AGE
                        TO BEVVY OR ANY RETAILER.</li>
                    <li>You understand that once your order request is accepted by a Retailer, your purchase may be
                        final and
                        non-refundable. All sales are binding. If you wish to cancel an order, you must contact Bevvi
                        customer
                        support to request cancellation. Any cancellations or refunds shall be subject to the sole
                        discretion
                        of Bevvi.</li>
                    <li>Upon receipt of the purchased goods, you are solely responsible for ensuring that the goods do
                        not materially
                        differ from the Retailer’s representations. In the event that you believe that the purchased
                        goods
                        were misrepresented by the Retailer, were not received, are damaged or defective, or if you have
                        any other complaint regarding the purchased goods, you agree to use good faith efforts to
                        resolve
                        the dispute with the Retailer.</li>
                    <li>You agree that you are solely responsible for your interactions (including any purchase and sale
                        transactions)
                        with any other user in connection with the Services, and Bevvi will have no liability or
                        responsibility
                        with respect thereto. While Bevvi reserves the right, it will not and has no obligation to,
                        become
                        involved in any way with disputes between you and any other user of the Services, including but
                        not
                        limited to a Retailer.</li>
                    <li>By making an order request via the Site or Services, you represent that you are of legal
                        drinking age
                        and are in compliance with your local and state laws applicable to the purchase, transportation,
                        receipt and/or reporting of your order. You also represent that you have obtained all required
                        permissions,
                        paid all required fees, are working through properly licensed intermediaries where required, are
                        legally entitled to take possession of the order and are legally entitled to take the quantities
                        ordered.
                    </li>
                    <li>You further represent that your use of the Site and Services shall be in accordance with all
                        applicable
                        laws, rules, and regulations, and that any orders of items made through the Site and/or Services
                        are for personal consumption only and not for any re-sale or distribution. You acknowledge that
                        certain
                        Services may not be available to you due to local rules applicable to your location.</li>
                </ul>


                <h4>Your personal information</h4>
                <ul>
                    <li>You understand and acknowledge that your use of the Site and Services is governed by the Privacy
                        Policy,
                        which is incorporated into this Agreement by this reference.</li>
                    <li>Bevvi will only use personal information in accordance with Bevvi’s Privacy Policy.</li>
                    <li>You grant a worldwide, perpetual, royalty-free, irrevocable, and transferable license to Bevvi
                        to display,
                        reproduce, transmit, use, and/or store this information to the extent necessary to support the
                        operation
                        of the Site and Services.</li>
                </ul>

                <h4>Earning and Using Rewards</h4>
                <ul>
                    <li>Bevvi, in its sole discretion, may offer points, rewards, credits, coupons, or other discounts
                        on purchases
                        made via the Site or Services (collectively, “Rewards”) to users, to the extent permissible
                        under
                        applicable laws. You may or may not receive or be eligible to participate in Rewards depending
                        on
                        whether they are permissible in your location.</li>
                    <li>If we choose to offer Rewards to you, any such Rewards will be issued by Bevvi and not any
                        Retailer,
                        unless otherwise explicitly stated in the terms and conditions of the Reward.</li>
                    <li>Rewards earned by you via the Site and/or Services will be associated with your Bevvi account.
                        You may
                        see how many Rewards you have accrued via your account on the Site and Services. Rewards are
                        non-transferrable.</li>
                    <li>If goods purchased by you are returned to the Retailer and you used Rewards in connection with
                        that purchase,
                        such accrued and used Rewards will not be restored if a return of goods purchased is completed.
                    </li>
                    <li>Bevvi may change the terms of the accrual and use of Rewards at any time. Rewards are void where
                        prohibited
                        by applicable laws or regulations.</li>
                </ul>

                <h4>Bevvi may edit or modify anything on the Site or Services without notice</h4>
                <p>Bevvi is committed to delivering a positive user experience and you understand that Bevvi reserves
                    the right
                    (but without undertaking any duty) to edit, monitor, review, delete, modify, or move any content or
                    material
                    provided or placed on or though the Site and the Services in its sole discretion, without notice.
                </p>

                <h4>System Requirements for the iOS and Android Apps</h4>
                <ul>
                    <li>In order to use any mobile apps or applications that are part of the Services, you are required
                        to have
                        a compatible device, Internet access, and the necessary minimum specifications (the “System
                        Requirements”).
                        You hereby acknowledge that the System Requirements may change from time to time, without
                        notice,
                        and that Bevvi makes no representations as to the accuracy of the System Requirements.</li>
                    <li>You may be required to obtain software and/or hardware updates or upgrades from time to time, as
                        may
                        be necessary for the continued use of the Services. You hereby acknowledge and agree that such
                        System
                        Requirements as specified, remains your responsibility.</li>
                    <li>We will use reasonable efforts to make the mobile apps or applications that are part of the
                        Services
                        available at all times. However, you acknowledge that the mobile apps or applications that are
                        part
                        of the Services are provided over the Internet and mobile networks, and so the quality and
                        availability
                        of the mobile apps or applications that are part of the Services may be affected by factors
                        outside
                        our reasonable control. You further understand that we cannot guarantee that mobile apps or
                        applications
                        are part of the Services.</li>
                    <li>We will use reasonable efforts to make the mobile apps or applications that are part of the
                        Services
                        available at all times. However, you acknowledge that we cannot guarantee that the mobile apps
                        or
                        applications that are part of the Services shall always be available, error-free, or fully
                        functional,
                        and therefore cannot be held liable for any loss of data, content, etc. that results from any
                        such
                        unavailability or non-functionality.</li>
                </ul>


                <h4>Apple iOS Application Terms</h4>
                <ul>
                    <li>If you download a Bevvi mobile application from the Apple App Store (the “iOS App”), you will
                        use the
                        iOS App only (i) on an Apple-branded product that runs Apple's proprietary operating system
                        software;
                        and (ii) as permitted by the "Usage Rules" set forth in the
                        <a href="https://www.apple.com/legal/internet-services/itunes/us/terms.html">Apple App Store
                            Terms of Service</a>.</li>
                    <li>You acknowledge and agree that (i) this Agreement is valid only between you and Bevvi, and that
                        Apple
                        is not a party to this Agreement other than as third-party beneficiary as set forth below; (ii)
                        Bevvi,
                        not Apple, is solely responsible for the iOS App; (iii) Apple has no obligation whatsoever to
                        provide
                        you with any maintenance or support services for the iOS App; and (iv) Apple will have no
                        warranty
                        obligation to you whatsoever with respect to the iOS App to the maximum extent permitted by
                        applicable
                        law.
                    </li>
                    <li>You acknowledge and agree that, as between Bevvi and Apple, Bevvi and not Apple is responsible
                        for addressing
                        any claims you may have related to the iOS App, including but not limited to any product
                        liability
                        or consumer protection claims. You further acknowledge and agree that if your possession and/or
                        use
                        of the iOS App infringes on the intellectual property rights of any third party, you will not
                        hold
                        Apple responsible for the investigation, defense, settlement and discharge of any such
                        intellectual
                        property infringement claims.</li>
                    <li>You acknowledge and agree that Apple, and Apple's subsidiaries, are third-party beneficiaries of
                        this
                        Agreement, and that, upon your acceptance of the terms and conditions of this Agreement, Apple
                        will
                        have the right (and will be deemed to have accepted the right) to enforce this Agreement against
                        you as a third-party beneficiary thereof.</li>
                </ul>

                <h4>You are responsible for accepting updated versions of the Site and Services</h4>
                <ul>
                    <li>If Bevvi provides updated versions of the Site and/or the Services and you do not accept these
                        updated
                        versions, you may not enjoy the most recent content, feature sets, and materials.</li>
                    <li>If you do not accept updated versions of the Site and Services, Bevvi shall not bear any
                        responsibility
                        or liability for your decision.</li>
                </ul>


                <h4>You agree to let us monitor your activity on Bevvi mobile device applications and the Site and
                    Services</h4>
                <ul>
                    <li>Because Bevvi wants to continue to improve the Site and the Services for the benefit of you, the
                        user,
                        we may monitor your activity on Bevvi mobile device applications, as well as on the Site and
                        Services.</li>
                    <li>By using any Bevvi mobile device application or the Site and Services you specifically agree to
                        allow
                        Bevvi to monitor you in this manner.</li>
                    <li>You understand, however, Bevvi cannot and does not make any warranties or guarantees that: (i)
                        any Bevvi
                        mobile device applications or the Site and Services, or any component thereof, will be made free
                        from error or inaccuracy as a result of such monitoring or free from unauthorized and/or
                        unacceptable
                        use as a result of such monitoring; (ii) any statements or factual items presented by the
                        Services
                        will be free from error or authenticated; or (iii) Bevvi will take any action in the event of
                        any
                        non-compliance with these Terms of Use.</li>
                </ul>


                <h4>You must be 21 or older to use the Bevvi Site or Services</h4>
                <ul>
                    <li>You understand that you may not use the Site or the Services where such use is prohibited.</li>
                    <li>You understand that the Site and the Services are intended solely for users who are twenty-one
                        (21) years
                        of age or older, can legally purchase alcoholic beverages, and can legally form a binding
                        agreement.
                    </li>
                    <li>Any use of or access to the Site or the Services by anyone under 21 is unauthorized.</li>
                    <li>You represent and warrant that you are 21 or older, will comply with all applicable laws, rules,
                        and
                        regulations regarding the purchase and consumption of alcohol, and that you agree to abide by
                        all
                        of the terms and conditions of this Agreement.</li>
                    <li>Bevvi does not knowingly collect information from individuals who are less than thirteen (13)
                        years of
                        age.
                    </li>
                </ul>


                <h4>It is your responsibility to make sure this Agreement and your use of the Site and Services complies
                    with
                    all laws applicable to you</h4>
                <ul>
                    <li>You understand that Bevvi may, in its sole discretion, refuse to offer the Site or the Services
                        to any
                        person or entity and change its eligibility criteria at any time.</li>
                    <li>You are solely responsible for ensuring that this Agreement complies with all laws, rules and
                        regulations
                        applicable to you.</li>
                    <li>You understand that your right to access the Site or Services will be revoked where this
                        Agreement or
                        use of the Site or the Services is prohibited and, if that is the case, you agree not to use or
                        access
                        the Site or the Services in any way.</li>
                </ul>


                <h4>Bevvi may terminate your use of the Site and/or Services without reason or notice to you</h4>
                <p>While Bevvi respects its users, you agree that Bevvi may terminate your use of the Site and/or the
                    Services
                    and prohibit you from accessing the Site and/or the Services, for any reason, or no reason, and with
                    or without notice.</p>



                <h3>Who Owns What and How You Can Use It</h3>
                <h4>The copyright to all content on the Site and Services is owned by the provider of that content</h4>
                <ul>
                    <li>The content, organization, graphics, design, compilation, magnetic translation, digital
                        conversion and
                        other matters related to the Site and the Services (“Copyright Content”) are the property of
                        Bevvi,
                        Retailers, or either of their content suppliers and are protected under applicable copyrights,
                        trademarks
                        and other proprietary rights.</li>
                    <li>You may not copy, redistribute, use or publish any part of the Site or the Services, except as
                        allowed
                        by this Agreement.</li>
                    <li>You do not acquire ownership rights to any content, document or other materials viewed through
                        the Site
                        or the Services.</li>
                </ul>


                <h4>You may not use trademarks appearing on the Site or Services in an infringing manner</h4>
                <ul>
                    <li>You agree that BEVVI, GETBEVVI.COM, BUY WHEN THE SPIRITS MOVE YOU, and other Bevvi graphics,
                        logos, page
                        headers, button icons, scripts, and service names are trademarks, registered trademarks or trade
                        dress of Bevvi or its affiliates (“Trademark Content”).</li>
                    <li>Bevvi trademarks and trade dress may not be used in connection with any product or service that
                        is not
                        Bevvi’s, in any manner that is likely to cause confusion among consumers, or in any manner that
                        disparages
                        or discredits Bevvi.</li>
                    <li>All other trademarks not owned by Bevvi or its affiliates that may appear on the Site or the
                        Services
                        are the property of their respective owners, who may or may not be affiliated with, connected
                        to,
                        or sponsored by Bevvi or its affiliates.</li>
                </ul>


                <h4>You may use the Bevvi Site and Services for limited purposes</h4>
                <ul>
                    <li>Bevvi grants you a limited license to access and make personal use of the Site and the Services.
                    </li>
                    <li>Bevvi does not grant you the right to download (other than page caching) or modify the Site and
                        the Services,
                        or any portion of the Site and the Services.</li>
                    <li>You understand Bevvi does not grant you the right to: (a) resell or make commercial use (except
                        as provided
                        herein) of the Site and the Services or their contents; (b) make any derivative use of the Site
                        and
                        the Services or their contents; (c) download or copy account information for the benefit of a
                        third
                        party or merchant; or (d) use any data mining, robots, or similar data gathering and extraction
                        tools.</li>
                    <li>You understand that the Site and the Services or any portion of Site and the Services may not be
                        reproduced,
                        duplicated, copied, sold, resold, visited, or otherwise exploited for any commercial purpose,
                        other
                        than as required for the limited commercial use granted herein.</li>
                    <li>You may not frame or utilize framing techniques to enclose any trademark, logo, or other
                        proprietary
                        information of Bevvi and our affiliates without express written consent.</li>
                    <li>You may not use any meta tags or any other "hidden text" utilizing Bevvi’s name or trademarks
                        without
                        the express written consent of Bevvi. Any unauthorized use terminates the permission or license
                        granted
                        by Bevvi hereunder.</li>
                    <li>You may not engage in the copying, reproduction, publication, rearrangement, redistribution,
                        modification,
                        revision, alteration, or reverse engineering, of the Services.</li>
                    <li>You are granted a limited, revocable, and nonexclusive right to create a hyperlink to the home
                        page of
                        Bevvi or to the page representing your listing(s) on Bevvi so long as the link does not portray
                        Bevvi,
                        its affiliates, or their products or services in a false, misleading, derogatory, or otherwise
                        offensive
                        matter.
                    </li>
                    <li>You may not use any Bevvi logo or other proprietary graphic or trademark as part of the link
                        without
                        express written permission.</li>
                </ul>

                <h4>You have the necessary rights to share content and materials should you choose to</h4>
                <ul>
                    <li>The Services permit you and other users to create, submit, share, post, copy, link, store and
                        otherwise
                        distribute certain information, images, photos, drawings, videos, icons, text and/or other
                        content
                        (“User Content”). You are responsible for your User Content, including without limitation its
                        accuracy,
                        legality, reliability, and appropriateness.</li>
                    <li>You warrant that either: (a) your User Content is wholly original to you and you exclusively own
                        the
                        rights to your User Content, including the right to grant all of the rights and licenses in this
                        Agreement; or (b) all parties whose materials are included in your User Content, or who
                        contributed
                        in any way, are depicted in, or have any rights to your User Content, have granted you
                        permission
                        to submit and license your User Content to Bevvi as set forth herein, with full knowledge that
                        Bevvi
                        may exploit it in any manner whatsoever. You make such warranties without Bevvi incurring any
                        third
                        party obligations or liability arising out of its exercise of the rights thereto granted herein
                        by
                        you.
                    </li>
                    <li>You grant to Bevvi the non-exclusive, unrestricted, unconditional, unlimited, worldwide,
                        irrevocable,
                        perpetual and royalty-free right and license to host, use, copy, distribute, reproduce,
                        disclose,
                        sell, re-sell, sub-license, display, perform, transmit, publish, broadcast, modify, make
                        derivative
                        works from, re-title, reformat, translate, archive, store, cache or otherwise exploit in any
                        manner
                        whatsoever, all or any portion of your User Content, for any purpose whatsoever, in any and all
                        formats;
                        on or through any and all media, software, formula or medium now known or hereafter known; and
                        with
                        any technology or devices now known or hereafter developed, and to advertise, market and promote
                        the same.</li>
                    <li>You further agree that Bevvi is free to use any ideas, concepts, know-how or techniques
                        contained in
                        any User Content you send to the Site or Bevvi, for any purposes whatsoever, including, without
                        limitation,
                        developing, producing, marketing and otherwise exploiting products and/or services using such
                        User
                        Content, and without remuneration of any kind.</li>
                    <li>You further perpetually and irrevocably grant Bevvi the unconditional right to use and exploit
                        your name,
                        persona and likeness included in any User Content.</li>
                    <li>You also grant to Bevvi the right to sub-license and authorize others to exercise any of the
                        rights granted
                        to Bevvi.</li>
                    <li>You authorize Bevvi to publish your User Content in a searchable format that may be accessed by
                        users
                        of the Site and the Internet, and you waive any rights of attribution and/or any so-called moral
                        rights you may have in any User Content you submit, even if such User Content is altered or
                        changed
                        in a manner not agreeable to you.</li>
                </ul>


                <h4>Bevvi’s Copyright Policy</h4>
                <p>Bevvi does not condone nor authorize activities on or through the Services that infringe copyright or
                    intellectual
                    property rights. We will delete any infringing User Content if properly notified that such User
                    Content
                    infringes on another’s intellectual property rights. If you are a copyright owner or an agent
                    thereof
                    and believe that any User Content infringes upon your copyrights, you may submit a notification
                    pursuant
                    to the Digital Millennium Copyright Act (DMCA) by providing our Copyright Agent with the following
                    information
                    in writing (see 17 U.S.C 512(c)(3) for further detail):</p>
                <ul>
                    <li>An electronic or physical signature of the person authorized to act on behalf of the owner of
                        the copyright’s
                        interest;
                    </li>
                    <li>A description of the copyrighted work that you claim has been infringed;</li>
                    <li>A description of the material that you claim is infringing and where it is located on the Site
                        or Services;
                    </li>
                    <li>Identification of the URL or other specific location on the Site or Services where the material
                        that
                        you claim is infringing is located;</li>
                    <li>Your address, telephone number, and email address;</li>
                    <li>A statement by you that you have a good faith belief that the disputed use is not authorized by
                        the copyright
                        owner, its agent, or the law;</li>
                    <li>A statement by you, made under penalty of perjury, that the above information in your notice is
                        accurate
                        and that you are the copyright owner or authorized to act on the copyright owner’s behalf.</li>
                </ul>
                <p>You can contact our Copyright Agent via email at support@getbevvi.com or by mail at Copyright Agent,
                    c/o
                    Etail Inc., 425 West 53rd Street, #208, New York, NY 10019.</p>
                <p>Bevvi reserves the right to terminate your account or any user account that it determines to be a
                    “repeat
                    infringer." A repeat infringer is a user who has repeatedly been notified of infringing activity
                    and/or
                    has had User Content repeatedly removed from the Site or Services.</p>


                <h3>What Laws and Rules You Are Responsible For Following</h3>
                <h4>You promise to comply with this Agreement and any laws or regulations applicable to you</h4>
                <ul>
                    <li>You promise not to use the Site or the Services for any purpose that is prohibited by this
                        Agreement.</li>
                    <li>You are responsible for all of your activity in connection with the Site and the Services.</li>
                    <li>You shall abide by all applicable local, state, national and international laws and regulations
                        and,
                        if you represent a business, any advertising, marketing, privacy, or other self-regulatory
                        code(s)
                        applicable to you.</li>
                </ul>



                <h4>You agree to comply with Bevvi’s conduct policies when using the Site or Services</h4>
                <p>We do our best to keep the Site and the Services safe and operational, but we cannot guarantee it. We
                    need
                    your help to do that, which includes the following commitments:</p>
                <ul>
                    <li>You will not modify, adapt, appropriate, reproduce, distribute, translate, create derivative
                        works or
                        adaptations of, publicly display, republish, repurpose, or in any way exploit the Site or
                        Services
                        except as expressly authorized by Bevvi;</li>
                    <li>You will not take any action that imposes or may impose (as determined by Bevvi in its sole
                        discretion)
                        an unreasonable or disproportionately large load on Bevvi’s (or its third party providers')
                        infrastructure;</li>
                    <li>You will not decipher, decompile, disassemble, reverse engineer or otherwise attempt to derive
                        any source
                        code or underlying ideas or algorithms of any part of the Site or Services, except to the
                        limited
                        extent applicable laws specifically prohibit such restriction;</li>
                    <li>You will not interfere or attempt to interfere with the proper working of the Site and Services
                        or any
                        activities conducted on the Site and Services;</li>
                    <li>You will not bypass any measures Bevvi may use to prevent or restrict access to the Site and
                        Services
                        (or other accounts, computer systems or networks connected to the Site and Services);</li>
                    <li>You will not run any form of auto-responder or "spam" on the Site and Services;</li>
                    <li>You will not use manual or automated software, devices, or other processes to "crawl" or
                        "spider" any
                        page of the Site;</li>
                    <li>You will not harvest or scrape any content or materials from the Site and Services;</li>
                    <li>You will not copy, rent, lease, distribute, or otherwise transfer any of the rights that you
                        receive
                        hereunder;
                    </li>
                    <li>You will not solicit passwords or personally identifying information (this includes, but is not
                        limited
                        to, someone else’s name, birth date, home address, IP address, credit card number, social
                        security
                        number, or other government-issued identification information) for commercial or unlawful
                        purposes;</li>
                    <li>You will not upload, post, transmit, share, store or otherwise make available any material that
                        contains
                        software viruses or any other computer code, files or programs designed to interrupt, destroy or
                        limit the functionality of any computer software or hardware or telecommunications equipment;
                    </li>
                    <li>You will not upload, post, transmit, share, store or otherwise make available any content (such
                        as a
                        picture on a profile page) other than those of a personal nature that: (i) are of you, (ii) are
                        taken
                        by you, or (iii) are original content created by you;</li>
                    <li>You will not otherwise take any action in violation of Bevvi’s guidelines and policies.</li>
                    <li>You will not threaten, intimidate, or harass another user or any parties on or through the Site
                        or Services.
                    </li>
                    <li>You will not falsely represent your identity or impersonate a third party, nor will you falsify
                        or mislead
                        third parties regarding your affiliation with any entity.</li>
                    <li>You will not transmit or disseminate any "lobbying" or "electioneering" materials within the
                        meaning
                        of the United States Internal Revenue Code of 1986, as amended.</li>
                    <li>You are solely responsible for all Submissions from your account. “Submissions” means anything
                        that a
                        user transmits to the Site and/or the Services in the course of using the Site and/or the
                        Services.
                        You shall remain at all times solely responsible for the full functionality, accuracy,
                        reliability,
                        integrity, quality or validity of any statement or any other detail contained in the
                        Submissions.</li>
                    <li>You will not use the Site and Services in any manner or transmit any Submission that: infringes
                        (or results
                        in the infringement of) Bevvi’s or any third party’s intellectual property or other rights; is
                        (or
                        you reasonably believe to be) illegal, fraudulent, or unauthorized, or in furtherance of any
                        illegal,
                        counterfeiting, fraudulent, pirating, unauthorized, or violent activity, or that involves (or
                        you
                        reasonably believe to involve) any stolen, illegal, counterfeit, fraudulent, pirated, or
                        unauthorized
                        material; does not comply with all applicable laws, rules, or regulations, including obtaining
                        all
                        necessary permits, licenses, registrations, etc. In the case of any proposed or actual
                        transaction,
                        “applicable” refers to both your own location and to the location(s) of all other parties to the
                        transaction, or; would cause Bevvi to be in violation of any law or regulation, or to infringe
                        any
                        right of any third party.</li>
                    <li>You will not transmit any Submission and will not use the Site and Services to post, store,
                        transmit,
                        offer, or solicit anything that contains the following, or that you know contains links to the
                        following
                        or to locations that in turn contain links to the following: material that we determine to be
                        offensive
                        (including material promoting or glorifying hate, violence, bigotry, or any entity (past or
                        present)
                        principally dedicated to such causes, or items associated with such an entity); material that is
                        racially or ethnically insensitive; material that is defamatory, harassing or threatening;
                        pornography
                        (including any obscene material, and anything depicting children in sexually suggestive
                        situations
                        whether or not depicting actual children) or material that may be harmful to a minor; any virus,
                        worm, Trojan horse, or other harmful or disruptive component; or anything that encourages
                        conduct
                        that would be considered a criminal offense, give rise to civil liability, violate any law or
                        regulation
                        or is otherwise inappropriate.</li>
                </ul>


                <h3>Warnings</h3>
                <h4>You use the Bevvi Site and Services at your own risk</h4>
                <ul>
                    <li>Bevvi has no obligation to review any content or material posted to or through the Site and the
                        Services,
                        and cannot therefore be responsible for such material or content.</li>
                    <li>By operating the Site and the Services, Bevvi does not represent or imply that it endorses any
                        content
                        or material there posted, or that it believes such material to be accurate, useful or
                        non-harmful.</li>
                    <li>You are responsible for taking precautions as necessary to protect yourself and your computer
                        systems
                        from viruses, worms, Trojan horses, and other harmful or destructive content.</li>
                    <li>The Site or the Services may contain content that is offensive, indecent, or otherwise
                        objectionable,
                        as well as content containing technical inaccuracies, typographical mistakes, and other errors.
                    </li>
                    <li>The Site or the Services may also contain material that violates the privacy or publicity
                        rights, or
                        infringes the intellectual property and other proprietary rights, of third parties, or the
                        downloading,
                        copying or use of which is subject to additional terms and conditions, stated or unstated.
                    </li>
                    <li>Bevvi disclaims any responsibility for any harm resulting from the use by visitors of the Site
                        or the
                        Services, or from viewing or downloading by those visitors of content posted on the Site or the
                        Services.</li>
                </ul>


                <h4>You are responsible for your own conduct</h4>
                <ul>
                    <li>You are solely responsible for your interactions with Retailers.</li>
                    <li>Bevvi shall not be liable for any damages whatsoever arising out of or relating to the conduct
                        of you
                        or anyone else in connection with the use of the Services, including without limitation, bodily
                        injury,
                        emotional distress, and/or any other damages resulting from communications with Retailers or
                        delivery
                        persons you meet, or any purchases made, through the Site or Services.</li>
                    <li>Bevvi reserves the right, but shall not have any obligation, to take any necessary legal action
                        based
                        on fraud, abuse, or suspicious activity in connection with your Bevvi account or any of your
                        activities
                        relating to the Services, and you agree to cooperate with any such action or investigation. If
                        you
                        are engaged in such activity, you may be liable for monetary losses, including litigation and/or
                        arbitration costs and damages.</li>
                </ul>


                <h4>Bevvi is not responsible for what happens outside of the Site and Services, including on websites
                    the Site
                    or Services links to or advertises</h4>
                <ul>
                    <li>Bevvi or its business partners may present advertisements or promotional materials via the
                        Services.
                        Such advertisements may be targeted to the User Content or information on the Site or Services,
                        queries
                        made through the Site or Services, or any other information.</li>
                    <li>Your dealings with, or participation in promotions of, any third-party advertisers via the
                        Services are
                        solely between you and such third party and your participation is subject to the terms and
                        conditions
                        associated with that advertisement or promotion.</li>
                    <li>You agree that Bevvi is not responsible or liable for any loss or damage of any sort incurred as
                        the
                        result of any such dealings or as the result of the presence of such third parties via the
                        Services.
                    </li>
                    <li>You understand the Site and the Services may contain (or you may receive from Bevvi, third
                        parties or
                        users) links to other web sites (“Third Party Sites”) or content posted, owned or originating
                        from
                        third parties such as, by way of example only, pictures, designs, photographs, graphics, text,
                        sound,
                        video, information, software, applications and any other content (“Third Party Content”).</li>
                    <li>You understand and agree that Bevvi is not responsible for, and does not control, Third Party
                        Sites and
                        Third Party Content. You also understand and agree that Bevvi is not responsible for the
                        availability
                        of such external sites or resources, and does not endorse and is not responsible or liable for
                        any
                        content, advertising, products or other materials on or available from such Third Party Sites
                        and
                        Third Party Content.</li>
                    <li>You acknowledge and agree that Bevvi shall not be responsible or liable, directly or indirectly,
                        for
                        any damage or loss caused or alleged to be caused by or in connection with the use of, or
                        reliance
                        upon, any such content, goods or services available on or through any such Third Party Site or
                        Third
                        Party Content.</li>
                    <li>The Site and Services may also, from time to time, access Third Party Content by accessing third
                        party
                        Application Programing Interfaces (“APIs”) within the Site and Services. You understand and
                        agree
                        that the Site and Services are not endorsed, certified or otherwise approved in any way by the
                        third
                        party providing such API and the provider of the API is not responsible for the Site and
                        Services.
                        Notwithstanding any license provided under these Terms (including the end user license granted
                        under
                        these Terms), (i) any such third party API is provided “as-is,” without any warranties and all
                        implied
                        warranties, including the implied warranties of merchantability, fitness for a  particular
                        purpose
                        and non-infringement, are expressly disclaimed; (ii) you may not modify or create derivative
                        works
                        based on any part of any such third party API; (iii) you may not decompile, reverse-engineer,
                        disassemble,
                        and/or otherwise reduce any such third party API to source code or other human-perceivable form,
                        to the full extent allowed by law; (iv) ownership of any such third party API and any services
                        related
                        to any such third party API remain with the owner of the API; and (v) the provider of any
                        third-party
                        API used in connection with the Site and Services disclaims any and all liability on the part of
                        the third-party API provider for any interruption in its services as accessed via the Site and
                        Services.</li>
                </ul>


                <h4>Information and press releases may not be updated</h4>
                <p>The Site and the Services contain information and press releases about us. While this information was
                    believed
                    to be accurate as of the date prepared, we disclaim any duty or obligation to update this
                    information
                    or any press releases. Information about companies other than ours contained in the press releases
                    or
                    otherwise, should not be relied upon as being provided or endorsed by us.</p>


                <h3>Legal Conditions</h3>
                <h4>Bevvi’s liability is limited</h4>
                <ul>
                    <li>Bevvi is not responsible for any Third Party Sites, Third Party Content, or any other content
                        posted
                        on the Site or the Services, whether posted or caused by users of the Site or the Services,
                        Bevvi,
                        third parties or by any of the equipment or programming associated with or utilized in the Site
                        or
                        the Services.</li>
                    <li>Bevvi is not responsible for the conduct, whether online or offline, of any user of the Site or
                        the Services.
                    </li>
                    <li>Bevvi assumes no responsibility for any error, omission, interruption, deletion, defect, delay
                        in operation
                        or transmission, communications line failure, theft or destruction or unauthorized access to, or
                        alteration of, user communications.</li>
                    <li>You understand that it is your duty to confirm and verify any information provided on or through
                        the
                        Site and Services, and that you bear the sole risk of relying on any such information, including
                        but not limited to content, third-party content, links, or product descriptions.</li>
                    <li>Bevvi is not responsible for any problems or technical malfunction of any telephone network or
                        lines,
                        cellular data provider or network, computer online systems, servers or providers, computer
                        equipment,
                        software, or failure of email on account of technical problems or traffic congestion on the
                        Services
                        or Site, including injury or damage to users or to any other person's computer, and/or mobile
                        device.
                    </li>
                    <li>Neither Bevvi nor any of its affiliates, advertisers, promoters or distribution partners shall
                        be responsible
                        for any loss or damage, including personal injury or death, resulting from anyone's use of the
                        Site
                        or the Services, anyone’s use of goods or services purchased via the Site or Services, any
                        content
                        posted on the Site or the Services or transmitted to users, or any interactions between users of
                        the Site or the Services, whether online or offline.</li>
                </ul>

                <p>WE TRY TO KEEP THE SITE AND SERVICES UP, BUG-FREE, AND SAFE, BUT YOU USE THEM AT YOUR OWN RISK. THE
                    INFORMATION
                    FROM OR THROUGH THE SITE AND THE SERVICES IS PROVIDED "AS IS," "AS AVAILABLE," AND ALL WARRANTIES,
                    EXPRESS
                    OR IMPLIED, ARE DISCLAIMED. THE INFORMATION, SITE AND THE SERVICES MAY CONTAIN VIRUSES, BUGS,
                    ERRORS,
                    PROBLEMS OR OTHER LIMITATIONS. IN NO EVENT WILL BEVVI OR ITS DIRECTORS, OFFICERS, EMPLOYEES OR
                    AGENTS
                    HAVE ANY LIABILITY WHATSOEVER FOR YOUR USE OF ANY ALCOHOLIC BEVERAGES, INFORMATION, THE SERVICES, OR
                    THE SITE. WE ARE NOT LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES
                    (INCLUDING
                    DAMAGES FOR LOSS OF BUSINESS, LOSS OF PROFITS, LITIGATION, OR THE LIKE), WHETHER BASED ON BREACH OF
                    CONTRACT,
                    BREACH OF WARRANTY, TORT (INCLUDING NEGLIGENCE), PRODUCT LIABILITY OR OTHERWISE, EVEN IF ADVISED OF
                    THE
                    POSSIBILITY OF SUCH DAMAGES. NO ADVICE OR INFORMATION OBTAINED BY YOU FROM US THROUGH THE SITE OR
                    SERVICE
                    SHALL CREATE ANY WARRANTY, REPRESENTATION OR GUARANTEE NOT EXPRESSLY STATED IN THIS AGREEMENT.</p>
                <p>BEVVI DOES NOT CONTROL THE INFORMATION PROVIDED BY RETAILERS OR OTHER THIRD PARTIES ON THE SITE OR
                    SERVICES,
                    AND THEREFORE SHALL NOT BE RESPONSIBLE FOR YOUR RELIANCE ON ANY INFORMATION OR STATEMENTS MADE ON OR
                    THROUGH THE SITE OR SERVICES. THIS INCLUDES, BUT IS NOT LIMITED TO STATEMENTS MADE BY (1) USERS
                    RELATED
                    TO ANY PRODUCTS AVAILABLE THROUGH THE SITE AND/OR SERVICES; (2) ALLEGED PROMISES RELATED TO THE
                    ALLOCATION
                    OF FUNDS, COMPLETION OF DELIVERIES, AND/OR ANY TIMELINES, AND (3) ANY THIRD PARTY STATEMENTS,
                    INCLUDING
                    THOSE OF RETAILERS OR OTHER USERS.</p>
                <p>FURTHERMORE, YOU ARE SOLELY RESPONSIBLE FOR THE INFORMATION THAT YOU PROVIDE ON THE SITE AND
                    SERVICES, INCLUDING
                    BUT NOT LIMITED TO RETAILER REVIEWS, PRODUCT REVIEWS, OR ANY OTHER INFORMATION YOU PROVIDE IN THE
                    PURCHASE
                    OF ANY PRODUCTS.</p>
                <p>BEVVI SHALL NOT BE LIABLE FOR ANY TRANSACTIONS MADE BETWEEN YOU AND ANY THIRD PARTY, INCLUDING BUT
                    NOT LIMITED
                    TO ANY PURCHASE YOU MAKE THROUGH THE SITE OR SERVICES, INCLUDING BUT NOT LIMTIED TO ANY USE, PICK
                    UP,
                    DELIVERY, CONSUMPTION, OR TRANSPORTATION OF ANY ITEMS PURCHASED, AND YOU AGREE THAT ANY SUCH
                    TRANSACTION
                    IS EXPRESSLY BETWEEN YOU AND THE THIRD PARTY; YOU THEREFORE RELEASE BEVVI AND ITS DIRECTORS,
                    OFFICERS,
                    EMPLOYEES, AFFILIATES, AND SUBSIDIARIES, FROM ANY AND ALL CLAIMS, DEMANDS, AND DISPUTES.
                </p>
                <p>BEVVI’S LIABILITY TO YOU FOR ANY CAUSE WHATSOEVER, AND REGARDLESS OF THE FORM OF THE ACTION, WILL AT
                    ALL
                    TIMES BE LIMITED TO THE FEES, IF ANY, PAID BY YOU TO US FOR THE SERVICES AND USE OF THE SITE, BUT IN
                    NO CASE WILL OUR LIABILITY TO YOU SHALL EXCEED $100. YOU AGREE THAT DISPUTES BETWEEN YOU AND BEVVI
                    WILL
                    BE RESOLVED BY BINDING, INDIVIDUAL ARBITRATION AND YOU WAIVE YOUR RIGHT TO PARTICIPATE IN A CLASS
                    ACTION
                    LAWSUIT OR CLASS-WIDE ARBITRATION. YOU ACKNOWLEDGE THAT IF NO FEES ARE PAID TO US FOR THE SITE AND
                    THE
                    SERVICES, YOU SHALL BE LIMITED TO INJUNCTIVE RELIEF ONLY, UNLESS OTHERWISE PERMITTED BY LAW, AND
                    SHALL
                    NOT BE ENTITLED TO DAMAGES OF ANY KIND FROM US, REGARDLESS OF THE CAUSE OF ACTION. IF YOU ARE A
                    CALIFORNIA
                    RESIDENT, YOU WAIVE CALIFORNIA CIVIL CODE SECTION 1542, WHICH STATES, IN PART: "A GENERAL RELEASE
                    DOES
                    NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS FAVOR AT THE TIME
                    OF
                    EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM MUST HAVE MATERIALLY AFFECTED HIS SETTLEMENT WITH THE
                    DEBTOR".</p>


                <h4>You agree to indemnify Bevvi</h4>
                <p>You agree to indemnify, defend, and hold harmless Bevvi, its contractors, licensors, subsidiaries and
                    affiliates
                    and their respective partners, directors, officers, members, managers, employees and agents from and
                    against any and all claims and expenses, including any and all losses, costs, liabilities, and
                    attorneys'
                    fees, arising out of or in connection with: (1) your use of the Site and Services, including but not
                    limited to the purchase, delivery, pickup, transportation, use, or consumption of any items
                    purchased
                    from a Retailer, (2) any User Content, Third Party Content, Third Party Sites and any other content,
                    (3) your violation of this Agreement, or of any law or the rights of any third party, and (4) your
                    breach
                    of this Agreement and/or any breach of your representations and warranties set forth herein.</p>

                <h4>Territorial Restrictions</h4>
                <p>The information and or features provided within the Site and Services is not intended for
                    distribution to
                    or use by any person or entity in any jurisdiction or country where such distribution or use would
                    be
                    contrary to law or regulation or which would subject Bevvi to any registration requirement within
                    such
                    jurisdiction or country. We reserve the right to limit the availability of our Site and Services or
                    any
                    portion of the Site and Services, to any person, geographic area, or jurisdiction, at any time and
                    in
                    our sole discretion, and to limit the quantities or features of any content, product, service or
                    other
                    feature that we provide.</p>
                <p>Services provided by Bevvi may be subject to United States export controls. Thus, no software from
                    the Site
                    and Services may be downloaded, exported or re-exported: (a) into (or to a national or resident of)
                    any
                    country to which the United States has embargoed goods; or (b) to anyone on the U.S. Treasury
                    Department's
                    list of Specially Designated Nationals or the U.S. Commerce Department's Table of Deny Orders. By
                    downloading
                    any software or applications related to the Site and Services, you represent and warrant that you
                    are
                    not located in, under the control of, or a national or resident of, any such country or on any such
                    list.</p>

                <h4>You agree that New York law applies to this Agreement</h4>
                <p>Subject to the arbitration clauses included below, if there is any dispute arising out of the Site
                    and the
                    Services, by using the Site, you expressly agree that any such dispute shall be governed by the laws
                    of the State of New York, without regard to its conflict of law provisions, and you expressly agree
                    and
                    consent to the exclusive jurisdiction and venue of the state and federal courts of the State of New
                    York,
                    in New York County, for the resolution of any such dispute.</p>


                <h4>Your general representation and warranty</h4>
                <p>You represent and warrant that:</p>
                <ul>
                    <li>You will use the Site and Services in accordance with the Privacy Policy, with this Agreement
                        and with
                        all applicable laws and regulations (including without limitation any local laws or regulations
                        in
                        your country, state, city, or other governmental area, regarding online conduct and acceptable
                        content,
                        and including all applicable laws regarding the transmission of technical data exported from the
                        United States or the country in which you reside).</li>
                    <li>You will use the Site and the Services so as not to infringe or misappropriate the intellectual
                        property
                        rights of any third party.</li>
                </ul>

                <h4>Agreement to Arbitrate</h4>
                <ul>
                    <li>This Agreement to Arbitration section is referred to in these Terms of Use as the “Arbitration
                        Agreement.”
                        You agree that any and all disputes or claims that have arisen or may arise between you and
                        Bevvi,
                        whether arising out of or relating to these Terms of Use (including any alleged breach thereof),
                        the Services, any advertising, any aspect of the relationship or transactions between you and
                        Bevvi,
                        will be resolved exclusively through final and binding arbitration, rather than a court, in
                        accordance
                        with the terms of this Arbitration Agreement. You agree that, by entering into these Terms of
                        Use,
                        you and Bevvi are each waiving the right to a trial by jury or to participate in a class action.
                        Your rights will be determined by a neutral arbitrator, not a judge or jury. The Federal
                        Arbitration
                        Act governs the interpretation and enforcement of this Arbitration Agreement.</li>
                    <li>You and Bevvi agree that any cause of action arising out of or related to the Site or the
                        Services must
                        commence within one (1) year after the cause of action arose; otherwise, such cause of action is
                        permanently barred.</li>
                    <li>You agree that, except for claims for injunctive or equitable relief or claims regarding
                        intellectual
                        property rights (which may be brought in any competent court without the posting of a bond), any
                        dispute arising under this Agreement shall be finally settled in accordance with the
                        Comprehensive
                        Arbitration Rules of the Judicial Arbitration and Mediation Service, Inc. (“JAMS”) by
                        arbitrators
                        appointed in accordance with such rules.</li>
                    <li>You agree any arbitration shall take place in New York, New York in the English language and the
                        arbitral
                        decision may be enforced in any court. The prevailing party in any action or proceeding to
                        enforce
                        this Agreement shall be entitled to costs and attorneys' fees.</li>
                    <li>YOU AGREE THAT DISPUTES BETWEEN YOU AND BEVVI WILL BE RESOLVED BY BINDING, INDIVIDUAL
                        ARBITRATION AND
                        YOU WAIVE YOUR RIGHT TO PARTICIPATE IN A CLASS ACTION LAWSUIT OR CLASS-WIDE ARBITRATION. YOU
                        ACKNOWLEDGE
                        THAT IF NO FEES ARE PAID TO US FOR THE SITE AND THE SERVICES, YOU SHALL BE LIMITED TO INJUNCTIVE
                        RELIEF ONLY, UNLESS OTHERWISE PERMITTED BY LAW, AND SHALL NOT BE ENTITLED TO DAMAGES OF ANY KIND
                        FROM US, REGARDLESS OF THE CAUSE OF ACTION.</li>
                </ul>


                <h4>General</h4>
                <ul>
                    <li>If any part of this Agreement is held invalid or unenforceable, that part will be construed to
                        reflect
                        the parties' original intent, and the remaining portions will remain in full force and effect.
                    </li>
                    <li>A waiver by either party of any term or condition of this Agreement or any breach thereof, in
                        any one
                        instance, will not waive such term or condition or any subsequent breach thereof.</li>
                    <li>Bevvi may assign its rights under this Agreement without condition.</li>
                    <li>This Agreement will be binding upon and will inure to the benefit of the parties, their
                        successors and
                        permitted assigns. The headings of the paragraphs of this Agreement are inserted for convenience
                        only and shall not be deemed to constitute part of this Agreement or to affect the construction
                        thereof.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>