<section class="breadcrumb">
   <div class="container">
      <div class="row">
         <div class="col">
            <a [routerLink]="['/']">Home</a>&nbsp;&nbsp;>&nbsp;&nbsp;<span>Delivery Details</span>
         </div>
      </div>
   </div>
</section>

<section class="main shoppingcartpage">
   <div class="container">
      <div class="shoppingcart">
         <h4 class="brgrmed">Delivery Details</h4>
      </div>
      <div class="cart-process d-none d-md-block">
         <div class="row steps-row">
            <div class="col-sm-12">
               <ol class="cd-multi-steps text-bottom">
                  <li class="visited">
                     <a href="javascript:void(0)">Finalize Order</a>
                  </li>
                  <li class="current">
                     <a href="javascript:void(0)">Delivery Details</a>
                  </li>
                  <li>
                     <a href="javascript:void(0)">Place Order</a>
                  </li>
                  <li>
                     <a href="javascript:void(0)">Order Summary</a>
                  </li>
               </ol>
            </div>
         </div>
      </div>
      <flash-messages></flash-messages>
      <div class="cart-detail done d-md-none d-lg-none">
         <div class="mobilecartheading d-md-none d-lg-none" onclick="">
            <h5>1. Finalise Order</h5>
            <svg class="leftarrowcart" width="18" height="18" viewBox="0 0 18 18" fill="none"
               xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M5.01711 8.4633C4.76475 8.21258 4.35466 8.21258 4.1023 8.4633C3.84993 8.71402 3.84993 9.12143 4.1023 9.37214L7.08332 12.3337C7.2095 12.4591 7.36723 12.5218 7.54073 12.5218C7.5565 12.5218 7.5565 12.5218 7.57227 12.5218C7.74577 12.5061 7.91927 12.4277 8.04545 12.2867L15.5059 3.40199C15.7267 3.1356 15.6952 2.72819 15.427 2.49314C15.1589 2.27377 14.7488 2.30511 14.5122 2.57149L7.49341 10.9234L5.01711 8.4633Z"
                  fill="#17AB13" />
               <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M13.752 1.37496C10.184 -0.856171 5.60782 -0.329376 2.62939 2.64547C-0.876464 6.14711 -0.876464 11.8644 2.62939 15.366C4.38232 17.1168 6.69371 18 8.98958 18C11.2854 18 13.5968 17.1168 15.3498 15.366C18.3437 12.3757 18.8556 7.78947 16.6063 4.22585C16.4201 3.93147 16.0323 3.8385 15.7376 4.02443C15.4428 4.21036 15.3498 4.59771 15.5359 4.8921C17.475 7.9599 17.0251 11.8954 14.45 14.4674C11.4406 17.4732 6.52307 17.4732 3.51361 14.4674C0.504161 11.4615 0.504161 6.54995 3.51361 3.54412C6.08871 0.987612 10.0134 0.538287 13.0849 2.44405C13.3797 2.62997 13.7675 2.53701 13.9536 2.24262C14.1398 1.94824 14.0467 1.56089 13.752 1.37496Z"
                  fill="#4A4A4A" /> </svg>
         </div>
      </div>
      <div class="cart-detail activate">
         <div class="mobilecartheading d-md-none d-lg-none">
            <h5>2. Delivery Details</h5>
            <!-- <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M5.01711 8.4633C4.76475 8.21258 4.35466 8.21258 4.1023 8.4633C3.84993 8.71402 3.84993 9.12143 4.1023 9.37214L7.08332 12.3337C7.2095 12.4591 7.36723 12.5218 7.54073 12.5218C7.5565 12.5218 7.5565 12.5218 7.57227 12.5218C7.74577 12.5061 7.91927 12.4277 8.04545 12.2867L15.5059 3.40199C15.7267 3.1356 15.6952 2.72819 15.427 2.49314C15.1589 2.27377 14.7488 2.30511 14.5122 2.57149L7.49341 10.9234L5.01711 8.4633Z" fill="#17AB13"/> <path fill-rule="evenodd" clip-rule="evenodd" d="M13.752 1.37496C10.184 -0.856171 5.60782 -0.329376 2.62939 2.64547C-0.876464 6.14711 -0.876464 11.8644 2.62939 15.366C4.38232 17.1168 6.69371 18 8.98958 18C11.2854 18 13.5968 17.1168 15.3498 15.366C18.3437 12.3757 18.8556 7.78947 16.6063 4.22585C16.4201 3.93147 16.0323 3.8385 15.7376 4.02443C15.4428 4.21036 15.3498 4.59771 15.5359 4.8921C17.475 7.9599 17.0251 11.8954 14.45 14.4674C11.4406 17.4732 6.52307 17.4732 3.51361 14.4674C0.504161 11.4615 0.504161 6.54995 3.51361 3.54412C6.08871 0.987612 10.0134 0.538287 13.0849 2.44405C13.3797 2.62997 13.7675 2.53701 13.9536 2.24262C14.1398 1.94824 14.0467 1.56089 13.752 1.37496Z" fill="#4A4A4A"/> </svg> -->
         </div>
         <div class="d-flex align-items-center justify-content-between position-relative">
            <a [routerLink]="['/cart']" class="col-primary f-18">
               <svg width="26" height="22" style="vertical-align: sub;" class="mr-2 leftarrowcart" viewBox="0 0 26 22"
                  fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.99927 21L2 10.9995L10 1" stroke="#A72B2A" stroke-width="2" stroke-linecap="round" />
                  <path d="M25 11H3" stroke="#A72B2A" stroke-width="2" stroke-linecap="round" /> </svg>
               Back</a>
            <h5 class="col-primary prbold deliverytitle">Select Your Delivery Date</h5>
         </div>

         <!-- <div class="deliverydate text-center">
                 <div class="deliverydatepicker">
                    <my-datepicker class="dateshowbtn" class="dateshowbtn" name="date"></my-datepicker>
                     <input type="hidden" id="dateForServer" />
                 </div> -->
         <div class="deliverydate text-center">
            <div class="deliverydatepicker">
               <div [hidden]="!scriptLoaded" id="datepicker" class="calendar"></div>
               <div class="dateshowbtn">
                  <a href="javascript:void(0);" (click)="setTodayDate()">Today</a>
                  <span id="dateForServer"></span>
               </div>
            </div>
            <button type="button" (click)="cart_step1_next()" class="btn btn-primary">Continue</button>
            <!-- <img src="assets/images/delivery-truck.png"> -->
            <svg class="d-block text-center" width="35" height="22" viewBox="0 0 35 22" fill="none"
               xmlns="http://www.w3.org/2000/svg">
               <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="35" height="23">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0.00878906H34.9999V22.0002H0V0.00878906Z"
                     fill="white" />
               </mask>
               <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M33.904 13.944H33.2829C32.9404 13.944 32.6618 13.6673 32.6618 13.3271V12.7101H33.9039V13.944H33.904ZM29.1911 20.9116C27.8816 20.9116 26.8163 19.8535 26.8163 18.5528C26.8163 17.2521 27.8816 16.194 29.1911 16.194C30.5005 16.194 31.5658 17.2521 31.5658 18.5528C31.5658 19.8535 30.5005 20.9116 29.1911 20.9116ZM9.90083 20.9116C8.59141 20.9116 7.52609 19.8535 7.52609 18.5528C7.52609 17.2521 8.59141 16.194 9.90083 16.194C11.2103 16.194 12.2756 17.2521 12.2756 18.5528C12.2756 19.8535 11.2103 20.9116 9.90083 20.9116ZM25.6472 9.29897V5.74257H30.5168L31.4119 9.29897H25.6472ZM25.6472 3.42008H29.7756C30.4404 3.42008 30.9812 3.95731 30.9812 4.61765V4.65391H25.6472V3.42008ZM32.5499 9.3317L31.6436 5.73055C31.8914 5.67827 32.0772 5.4599 32.0772 5.19828V4.61765C32.0772 3.357 31.0447 2.33142 29.7756 2.33142H25.6472V1.13378C25.6472 0.513431 25.1392 0.00878906 24.5146 0.00878906H3.47074C2.84621 0.00878906 2.33816 0.513431 2.33816 1.13378V11.0046C2.33816 11.3052 2.58351 11.5489 2.8862 11.5489C3.18883 11.5489 3.43424 11.3052 3.43424 11.0046V1.13378C3.43424 1.11375 3.45058 1.09752 3.47074 1.09752H24.5146C24.5347 1.09752 24.5511 1.11375 24.5511 1.13378V11.0047C24.5511 11.3053 24.7965 11.5491 25.0991 11.5491C25.4017 11.5491 25.6471 11.3054 25.6471 11.0047V10.3876H32.1118C32.1124 10.3876 32.1128 10.3878 32.1133 10.3878C32.1139 10.3878 32.1143 10.3877 32.1148 10.3877C32.9103 10.3882 33.5857 10.9069 33.8177 11.6215H32.1137C31.811 11.6215 31.5656 11.8652 31.5656 12.1659V13.3271C31.5656 14.2676 32.336 15.0328 33.2827 15.0328H33.9039V17.4278H32.4709C32.0002 16.0778 30.7081 15.1053 29.1909 15.1053C27.6737 15.1053 26.3815 16.0778 25.9109 17.4278H25.647V13.3271C25.647 13.0265 25.4017 12.7826 25.099 12.7826C24.7964 12.7826 24.5509 13.0264 24.5509 13.3271V17.4277H13.1809C12.7101 16.0776 11.4181 15.1051 9.90083 15.1051C8.38359 15.1051 7.09146 16.0776 6.62081 17.4277H3.47074C3.45058 17.4277 3.43424 17.4114 3.43424 17.3914V16.1939H5.80897C6.1116 16.1939 6.35701 15.9502 6.35701 15.6495C6.35701 15.3488 6.11167 15.1051 5.80897 15.1051H0.548037C0.24541 15.1051 0 15.3488 0 15.6495C0 15.9502 0.245342 16.1939 0.548037 16.1939H2.33823V17.3914C2.33823 18.0118 2.84628 18.5164 3.47081 18.5164H6.43105C6.43091 18.5285 6.43009 18.5405 6.43009 18.5527C6.43009 20.4536 7.98711 22.0002 9.90083 22.0002C11.8146 22.0002 13.3716 20.4536 13.3716 18.5527C13.3716 18.5405 13.3708 18.5285 13.3706 18.5164H25.7211C25.721 18.5285 25.7201 18.5405 25.7201 18.5527C25.7201 20.4536 27.2772 22.0002 29.191 22.0002C31.1046 22.0002 32.6616 20.4536 32.6616 18.5527C32.6616 18.5405 32.6608 18.5285 32.6607 18.5164H34.452C34.7545 18.5164 34.9999 18.2727 34.9999 17.9721V12.1658C35 10.7322 33.9352 9.54117 32.5499 9.3317Z"
                  fill="black" />
               <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M10 18C9.44858 18 9 18.4486 9 19C9 19.5514 9.44858 20 10 20C10.5514 20 11 19.5514 11 19C11 18.4486 10.5514 18 10 18Z"
                  fill="black" />
               <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M29 18C28.4485 18 28 18.4486 28 19C28 19.5514 28.4485 20 29 20C29.5515 20 30 19.5514 30 19C30 18.4486 29.5515 18 29 18Z"
                  fill="black" />
               <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M22.4685 15H14.5315C14.238 15 14 15.2239 14 15.5001C14 15.7762 14.2379 16 14.5315 16H22.4685C22.762 16 23 15.7762 23 15.5001C23 15.2239 22.7621 15 22.4685 15Z"
                  fill="black" />
               <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M8.45944 13H1.54056C1.24206 13 1 13.2239 1 13.5001C1 13.7762 1.24199 14 1.54056 14H8.45944C8.75794 14 9 13.7762 9 13.5001C9 13.2239 8.75794 13 8.45944 13Z"
                  fill="black" />
               <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M18.8444 5.15145C18.6368 4.9495 18.3003 4.9495 18.0927 5.15152L13.3662 9.75127L10.9074 7.35839C10.6997 7.15637 10.3633 7.15637 10.1557 7.35839C9.9481 7.5604 9.9481 7.88784 10.1557 8.08986L12.9904 10.8485C13.0942 10.9495 13.2301 11 13.3662 11C13.5021 11 13.6383 10.9495 13.742 10.8485L18.8442 5.88299C19.0519 5.68091 19.0519 5.35347 18.8444 5.15145Z"
                  fill="black" />
            </svg>
            <h6 class="prbold">Order is being delivered to:</h6>
            <p class="mb-2">{{currentUserData['companyName']}}</p>
            <span>{{userDeliveryLocation['address']}}</span>
         </div>
      </div>
      <div class="cart-detail deactivate d-md-none d-lg-none">
         <div class="mobilecartheading">
            <h5>3. Place Order</h5>
            <!-- <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M5.01711 8.4633C4.76475 8.21258 4.35466 8.21258 4.1023 8.4633C3.84993 8.71402 3.84993 9.12143 4.1023 9.37214L7.08332 12.3337C7.2095 12.4591 7.36723 12.5218 7.54073 12.5218C7.5565 12.5218 7.5565 12.5218 7.57227 12.5218C7.74577 12.5061 7.91927 12.4277 8.04545 12.2867L15.5059 3.40199C15.7267 3.1356 15.6952 2.72819 15.427 2.49314C15.1589 2.27377 14.7488 2.30511 14.5122 2.57149L7.49341 10.9234L5.01711 8.4633Z" fill="#17AB13"/> <path fill-rule="evenodd" clip-rule="evenodd" d="M13.752 1.37496C10.184 -0.856171 5.60782 -0.329376 2.62939 2.64547C-0.876464 6.14711 -0.876464 11.8644 2.62939 15.366C4.38232 17.1168 6.69371 18 8.98958 18C11.2854 18 13.5968 17.1168 15.3498 15.366C18.3437 12.3757 18.8556 7.78947 16.6063 4.22585C16.4201 3.93147 16.0323 3.8385 15.7376 4.02443C15.4428 4.21036 15.3498 4.59771 15.5359 4.8921C17.475 7.9599 17.0251 11.8954 14.45 14.4674C11.4406 17.4732 6.52307 17.4732 3.51361 14.4674C0.504161 11.4615 0.504161 6.54995 3.51361 3.54412C6.08871 0.987612 10.0134 0.538287 13.0849 2.44405C13.3797 2.62997 13.7675 2.53701 13.9536 2.24262C14.1398 1.94824 14.0467 1.56089 13.752 1.37496Z" fill="#4A4A4A"/> </svg> -->
         </div>
      </div>
      <div class="cart-detail deactivate d-md-none d-lg-none">
         <div class="mobilecartheading">
            <h5>4. Order Summery</h5>
            <!-- <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M5.01711 8.4633C4.76475 8.21258 4.35466 8.21258 4.1023 8.4633C3.84993 8.71402 3.84993 9.12143 4.1023 9.37214L7.08332 12.3337C7.2095 12.4591 7.36723 12.5218 7.54073 12.5218C7.5565 12.5218 7.5565 12.5218 7.57227 12.5218C7.74577 12.5061 7.91927 12.4277 8.04545 12.2867L15.5059 3.40199C15.7267 3.1356 15.6952 2.72819 15.427 2.49314C15.1589 2.27377 14.7488 2.30511 14.5122 2.57149L7.49341 10.9234L5.01711 8.4633Z" fill="#17AB13"/> <path fill-rule="evenodd" clip-rule="evenodd" d="M13.752 1.37496C10.184 -0.856171 5.60782 -0.329376 2.62939 2.64547C-0.876464 6.14711 -0.876464 11.8644 2.62939 15.366C4.38232 17.1168 6.69371 18 8.98958 18C11.2854 18 13.5968 17.1168 15.3498 15.366C18.3437 12.3757 18.8556 7.78947 16.6063 4.22585C16.4201 3.93147 16.0323 3.8385 15.7376 4.02443C15.4428 4.21036 15.3498 4.59771 15.5359 4.8921C17.475 7.9599 17.0251 11.8954 14.45 14.4674C11.4406 17.4732 6.52307 17.4732 3.51361 14.4674C0.504161 11.4615 0.504161 6.54995 3.51361 3.54412C6.08871 0.987612 10.0134 0.538287 13.0849 2.44405C13.3797 2.62997 13.7675 2.53701 13.9536 2.24262C14.1398 1.94824 14.0467 1.56089 13.752 1.37496Z" fill="#4A4A4A"/> </svg> -->
         </div>
      </div>
   </div>
</section>