<nav class="navbar navbar-light bg-light pl-0 pr-0">
    <div class="container">

    </div>
</nav>
<section class="main cmspage help">
    <div class="container">
        <h1 class="brgrmed col-secondary text-center">You’ve got the questions, we’ve got the answers!</h1>
        <div class="row" style="margin-bottom: 35px;">
            <div class="col-sm-4">
                <p class="mb-0 col-gray">Email</p>
                <p class="col-primary"><a href="mailto:support@getbevvi.com">support@getbevvi.com</a></p>
            </div>
            <div class="col-sm-8">
                <p class="mb-0 col-gray">Phone</p>
                <p class="col-primary"><a href="tel:+15518007821">+1 (551)-800-7821</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p class="col-gray">Sections</p>
                <ul class="faq-q">
                    <li>
                        <a href="javascript:void(0)" (click)="scrollToElement('q1')">What is Bevvi?</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="scrollToElement('q2')">How does Bevvi work?</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="scrollToElement('q3')">Does Bevvi do deliveries?</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="scrollToElement('q4')">How do I enter an order?</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="scrollToElement('q5')">How do I know about the offers?</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="scrollToElement('q6')">How do I pay?</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="scrollToElement('q7')">Can I pay by cash?</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="scrollToElement('q8')">What happens if I don’t pickup the
                            order when I schedule it?</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="scrollToElement('q9')">Can I order my favorite items even
                            if they are not part of the special offers?</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="scrollToElement('q10')">How does age verification
                            work?</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="scrollToElement('q11')">Whats the minimum age for people
                            to use the app or website?</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="scrollToElement('q12')">Where is Bevvi offered?</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="scrollToElement('q13')">Can I cancel the order?</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="scrollToElement('q14')">What if my order is not ready when
                            I go to the store?</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="scrollToElement('q15')">What if the store has misplaced my
                            order and I have already been charged?</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="scrollToElement('q16')">Can I cancel my account?</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="scrollToElement('q17')">Do I get points for each
                            order?</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="scrollToElement('q18')">Can the points be redeemed?</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="scrollToElement('q19')">What do I get for inviting my
                            friends?</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-8">
                <p class="faq-que" id="q1">What is Bevvi?</p>
                <p class="faq-ans">Bevvi is a pick-up only service for discounted alcohol. We have partnered with your
                    favorite local liquor stores to
                    provide exclusive members-only pricing, seasonal combos and the best offers on alcohol beverages to
                    keep you stocked.
                </p>
                <p class="faq-que" id="q2">How does Bevvi work?</p>
                <p class="faq-ans">Bevvi sends you offers from your neighborhood stores through our app (available on
                    iOS and Android) as well as email.
                    The stores determine the length of the offers and the quantity of items available. Each offer lasts
                    until the expiry
                    date or until supplies run out. You can pre-order, pre-pay, and schedule the pickup date and time.
                    You have a week
                    from the date of purchase to pick up the offer. The order will be pre-packaged and waiting for you.
                    Once you are at
                    the store, you show your confirmation and the products are yours. Quick and easy! </p>
                <p class="faq-que" id="q3">Does Bevvi do deliveries?</p>
                <p class="faq-ans">Bevvi is a pick-up only service for discounted alcohol. We have partnered with your
                    favorite local liquor stores to
                    provide exclusive members-only pricing, seasonal combos and the best offers on alcohol beverages to
                    keep you stocked.</p>
                <p class="faq-que" id="q4">How do I enter an order?</p>
                <p class="faq-ans">You can select your order with our user-friendly app and website. You can search your
                    favorites, choose the quantity,
                    schedule your pickup and prepay for the order in a few simple steps.</p>
                <p class="faq-que" id="q5">How do I know about the offers?</p>
                <p class="faq-ans">You will receive notifications from your neighborhood stores. Make sure push
                    notifications are enabled on your app to
                    receive the latest deals. You will also receive emails when offers become available.</p>
                <p class="faq-que" id="q6">How do I pay?</p>
                <p class="faq-ans">Pay using your credit card. Your card information will be safely and conveniently
                    stored in your profile for quick,
                    convenient checkout. When you arrive at your liquor store, your order is paid for and ready to go!
                </p>
                <p class="faq-que" id="q7">Can I pay by cash?</p>
                <p class="faq-ans">We do not accept cash as a method of payment. Payment is by credit card only because
                    we pre-process the payment before
                    you pickup the orders. </p>
                <p class="faq-que" id="q8">What happens if I don’t pickup the order when I schedule it?</p>
                <p class="faq-ans">It’s at the discretion of the store to keep your order available if you do not pick
                    up at the time it was scheduled
                    for. Neither Bevvi nor the store will be responsible for the loss of the goods ordered if not picked
                    up at the scheduled
                    date and time. </p>
                <p class="faq-que" id="q9">Can I order my favorite items even if they are not part of the special
                    offers?</p>
                <p class="faq-ans">If the store offers their entire inventory, then you will be able to buy items that
                    are not part of the special offer.
                </p>
                <p class="faq-que" id="q10">How does age verification work?</p>
                <p class="faq-ans">Age verification is done by the store at the point of pickup. If you cannot produce a
                    legal ID proving you are at least
                    21 years old during the time of pickup, the store will not release your order and there is no refund
                    available. </p>
                <p class="faq-que" id="q11">Whats the minimum age for people to use the app or website?</p>
                <p class="faq-ans">The minimum age to use Bevvi website and app is 21 years. </p>
                <p class="faq-que" id="q12">Where is Bevvi offered?</p>
                <p class="faq-ans">Bevvi is currently offered in New York City, New Jersey and Connecticut. We will soon
                    be adding other states.</p>
                <p class="faq-que" id="q13">Can I cancel the order?</p>
                <p class="faq-ans">If your plans change, you can cancel your order up to 1 hour before your scheduled
                    pickup. Cancellations need to be
                    done by calling the Bevvi customer service number at 1-888-xxx-xxxx. Cancellations cannot be done at
                    the store or through
                    the app, website or calling the store.</p>
                <p class="faq-que" id="q14">What if my order is not ready when I go to the store?</p>
                <p class="faq-ans">We apologize for such inconvenience. You can call the Bevvi support number at
                    1-888-xxx-xxxx and we will refund your
                    money for any unlikely inconvenience.</p>
                <p class="faq-que" id="q15">What if the store has misplaced my order and I have already been charged?
                </p>
                <p class="faq-ans">We apologize for such inconvenience. You can call the Bevvi support number at
                    1-888-xxx-xxxx and we will refund your
                    money for any unlikely inconvenience. </p>
                <p class="faq-que" id="q16">Can I cancel my account?</p>
                <p class="faq-ans">We would be sad to see you go. You can call the Bevvi support number at
                    1-888-xxx-xxxx and we will cancel your account
                    at any time. </p>
                <p class="faq-que" id="q17">Do I get points for each order?</p>
                <p class="faq-ans">You get 100 points per dollar you spend. </p>
                <p class="faq-que" id="q18">Can the points be redeemed?</p>
                <p class="faq-ans">Yes! For every 10,000 points, you will be credited 10$ toward a future purchase. </p>
                <p class="faq-que" id="q19">What do I get for inviting my friends?</p>
                <p class="faq-ans">Every time you invite a friend to join Bevvi, both you and your friend are rewarded
                    $5 toward your next purchase. Get
                    social with Bevvi to bring in even more savings! </p>
            </div>
        </div>
    </div>
</section>