<section class="loginsignuppage forpassbusi">
    <div class="container">
        <div class="row col-md-8 mb-2" style="margin: 0 auto;">
            <div class="box text-center">
                <div _ngcontent-c2="" class="pageheadinginner">
                    <a _ngcontent-c2="" class="backbtn" [routerLink]="['/login']">
                        <svg width="26" height="22"
                        style="vertical-align: sub;" class="mr-2 leftarrowcart" viewBox="0 0 26 22" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.99927 21L2 10.9995L10 1" stroke="#A72B2A" stroke-width="2"
                            stroke-linecap="round" />
                        <path d="M25 11H3" stroke="#A72B2A" stroke-width="2" stroke-linecap="round" /> </svg>
                    </a>
                    <h2 _ngcontent-c2="" class="col-primary">Reset Password</h2>
                </div>
                <form class="passwordform col" [formGroup]="passwordform" id="passwordform"
                    (ngSubmit)="onPasswordReset()">
                    <flash-messages></flash-messages>
                    <div class="row">
                        <div class="form-group position-relative col-md-12">
                            <input class="form-control" type="password" name="email" 
                                formControlName="password">
                                <label for="input" class="control-label">New Password</label>
                            <label class="validate-error  help-block with-errors"
                                *ngIf="password.errors && password.errors.required && formSubmitAttempt">
                                Password is required
                            </label>
                            <label class="validate-error help-block with-errors"
                                *ngIf="password.errors && password.errors.minlength && formSubmitAttempt">
                                Password should be minimum {{password.errors.minlength.requiredLength}} characters long
                            </label>
                        </div>
                        <div class="form-group position-relative col-md-12">
                            <input class="form-control" type="password" name="email"
                                formControlName="confirm_password">
                                <label for="input" class="control-label">Confirm Password</label>
                            <label class="validate-error help-block with-errors"
                                *ngIf="confirm_password.errors && confirm_password.errors.required && formSubmitAttempt">
                                Confirm Password is required
                            </label>
                            <label class="validate-error help-block with-errors"
                                *ngIf="confirm_password.errors && !confirm_password.errors.required && confirm_password.errors.notEquivalent && formSubmitAttempt">
                                Password and Confirm Password do not match
                            </label>
                        </div>
                        <div class="form-group" style="margin: 0 auto;">
                            {{passwordform.errors}}
                            <button type="submit" class="btn btn-primary btn-block">Reset
                                Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>