.loginsignuppage {
	padding-top: 108px;
	margin-top: 74px;
}

.loginsignuppage form {
	/*max-width: 300px;*/
}

.loginsignuppage form .form-control{
	max-width: 254px;
	margin: 0 auto;
}

.loginsignuppage form .form-control::placeholder{
	color: #BBB4A7;
}

.birth-form {
	padding: 0px 10px;
}

.birth-form div {
	display: inline-block;
}

.birth-form div.b-month {
	width: 30%;
}
.birth-form .form-control::placeholder{
	text-transform: uppercase;
}

.birth-form div.b-date {
	width: 30%;
}

.birth-form div.b-year {
	width: calc(40% - 10px);
}

.forgot-pass-in {
	padding-top: 20px;
	color: #8D8D8D;
	font-size: 14px;
}

.forgot-text {
	font-size: 20px;
	line-height: 24px;
	color: #000;
	margin-bottom: 20px;
}

.border-bottom-or {
	border-bottom: 1px solid #9D2480;
}

.text-or {
	background-color: #fff;
	position: absolute;
	margin-top: -30px;
	padding: 10px;
	color: #9D2480;
	left: 50%;
	margin-left: -23px;
	font-size: 14px;
}

.remember-check .login-mark {
	border: 1px solid #ADA597;
	margin-top: 2px;
}

.remember-check .login-check .login-mark:after {
	border: solid #ADA597;
	border-width: 0 1px 1px 0;
}


/* The container */

.login-check {
	display: block;
	position: relative;
	padding-left: 20px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 12px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-weight: normal;
}

.login-check a {
	color: #4A90E2;
}


/* Hide the browser's default checkbox */

.login-check input {
	position: absolute;
	opacity: 0;
}


/* Create a custom checkbox */

.login-mark {
	position: absolute;
	top: 3px;
	left: 0;
	height: 10px;
	width: 10px;
	background-color: #fff;
	border: 1px solid #9D2480;
	border-radius: 3px;
}


/* When the checkbox is checked, add a blue background */

.login-check input:checked~.login-mark {
	background-color: #fff;
}


/* Create the checkmark/indicator (hidden when not checked) */

.login-mark:after {
	content: "";
	position: absolute;
	display: none;
}


/* Show the checkmark when checked */

.login-check input:checked~.login-mark:after {
	display: block;
}


/* Style the checkmark/indicator */

.login-check .login-mark:after {
	left: 4px;
	top: -4px;
	width: 5px;
	height: 10px;
	border: solid #9D2480;
	border-width: 0 1px 1px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

@media screen and (max-width:767px) {
	/*.loginsignuppage {
		margin-top: 123px;
	}*/
	.loginsignuppage.businesslogin,
	.loginsignuppage.forpassbusi, 
	.loginsignuppage.forpass {
	    padding-bottom: 50px;
	    padding-top: 40px;
	}
	.loginsignuppage{
		margin-top: 73px;
	}
}

@media screen and (max-width:480px) {
	/*.remember-check {
		display: block;
	}*/
}

/********  9-2-2018 piyush  *******/

.birth-form div { vertical-align: top; }


