<div class="productlistpage">
    <section class="listingbanner">
        <div class="container">
            <h1 class="brgrblk col-white">DRINK HAPPY THOUGHTS</h1>
            <h4 class="col-white">CHEERS!</h4>
        </div>
    </section>

    <!-- <section class="breadcrumb">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-sm-5">
               <a [routerLink]="['/']">Home</a>&nbsp;&nbsp;>&nbsp;&nbsp;<span>{{breadcumbProductCategory}}</span>
            </div>
            <div class="col-sm-7">
               <div class="deliveridetail-crumb">
                  <img src="assets/images/truck.png">
                  <p>Delivery to <span>{{userDeliveryAddressToUse['address']}}</span> </p>
               </div>
            </div>
         </div>
      </div>
   </section> -->
    <section class="breadcrumb">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-5">
                    <a [routerLink]="['/']">Home</a>&nbsp;&nbsp;>&nbsp;&nbsp;<span>{{breadcumbProductCategory}}</span>
                </div>
                <div class="col-sm-7">
                    <div class="deliveridetail-crumb">
                        <!-- <img src="assets/images/truck.png"> -->
                        <svg width="35" height="22" viewBox="0 0 35 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="35"
                                height="23">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M0 0.00878906H34.9999V22.0002H0V0.00878906Z" fill="white" />
                            </mask>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M33.904 13.944H33.2829C32.9404 13.944 32.6618 13.6673 32.6618 13.3271V12.7101H33.9039V13.944H33.904ZM29.1911 20.9116C27.8816 20.9116 26.8163 19.8535 26.8163 18.5528C26.8163 17.2521 27.8816 16.194 29.1911 16.194C30.5005 16.194 31.5658 17.2521 31.5658 18.5528C31.5658 19.8535 30.5005 20.9116 29.1911 20.9116ZM9.90083 20.9116C8.59141 20.9116 7.52609 19.8535 7.52609 18.5528C7.52609 17.2521 8.59141 16.194 9.90083 16.194C11.2103 16.194 12.2756 17.2521 12.2756 18.5528C12.2756 19.8535 11.2103 20.9116 9.90083 20.9116ZM25.6472 9.29897V5.74257H30.5168L31.4119 9.29897H25.6472ZM25.6472 3.42008H29.7756C30.4404 3.42008 30.9812 3.95731 30.9812 4.61765V4.65391H25.6472V3.42008ZM32.5499 9.3317L31.6436 5.73055C31.8914 5.67827 32.0772 5.4599 32.0772 5.19828V4.61765C32.0772 3.357 31.0447 2.33142 29.7756 2.33142H25.6472V1.13378C25.6472 0.513431 25.1392 0.00878906 24.5146 0.00878906H3.47074C2.84621 0.00878906 2.33816 0.513431 2.33816 1.13378V11.0046C2.33816 11.3052 2.58351 11.5489 2.8862 11.5489C3.18883 11.5489 3.43424 11.3052 3.43424 11.0046V1.13378C3.43424 1.11375 3.45058 1.09752 3.47074 1.09752H24.5146C24.5347 1.09752 24.5511 1.11375 24.5511 1.13378V11.0047C24.5511 11.3053 24.7965 11.5491 25.0991 11.5491C25.4017 11.5491 25.6471 11.3054 25.6471 11.0047V10.3876H32.1118C32.1124 10.3876 32.1128 10.3878 32.1133 10.3878C32.1139 10.3878 32.1143 10.3877 32.1148 10.3877C32.9103 10.3882 33.5857 10.9069 33.8177 11.6215H32.1137C31.811 11.6215 31.5656 11.8652 31.5656 12.1659V13.3271C31.5656 14.2676 32.336 15.0328 33.2827 15.0328H33.9039V17.4278H32.4709C32.0002 16.0778 30.7081 15.1053 29.1909 15.1053C27.6737 15.1053 26.3815 16.0778 25.9109 17.4278H25.647V13.3271C25.647 13.0265 25.4017 12.7826 25.099 12.7826C24.7964 12.7826 24.5509 13.0264 24.5509 13.3271V17.4277H13.1809C12.7101 16.0776 11.4181 15.1051 9.90083 15.1051C8.38359 15.1051 7.09146 16.0776 6.62081 17.4277H3.47074C3.45058 17.4277 3.43424 17.4114 3.43424 17.3914V16.1939H5.80897C6.1116 16.1939 6.35701 15.9502 6.35701 15.6495C6.35701 15.3488 6.11167 15.1051 5.80897 15.1051H0.548037C0.24541 15.1051 0 15.3488 0 15.6495C0 15.9502 0.245342 16.1939 0.548037 16.1939H2.33823V17.3914C2.33823 18.0118 2.84628 18.5164 3.47081 18.5164H6.43105C6.43091 18.5285 6.43009 18.5405 6.43009 18.5527C6.43009 20.4536 7.98711 22.0002 9.90083 22.0002C11.8146 22.0002 13.3716 20.4536 13.3716 18.5527C13.3716 18.5405 13.3708 18.5285 13.3706 18.5164H25.7211C25.721 18.5285 25.7201 18.5405 25.7201 18.5527C25.7201 20.4536 27.2772 22.0002 29.191 22.0002C31.1046 22.0002 32.6616 20.4536 32.6616 18.5527C32.6616 18.5405 32.6608 18.5285 32.6607 18.5164H34.452C34.7545 18.5164 34.9999 18.2727 34.9999 17.9721V12.1658C35 10.7322 33.9352 9.54117 32.5499 9.3317Z"
                                fill="black" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M10 18C9.44858 18 9 18.4486 9 19C9 19.5514 9.44858 20 10 20C10.5514 20 11 19.5514 11 19C11 18.4486 10.5514 18 10 18Z"
                                fill="black" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M29 18C28.4485 18 28 18.4486 28 19C28 19.5514 28.4485 20 29 20C29.5515 20 30 19.5514 30 19C30 18.4486 29.5515 18 29 18Z"
                                fill="black" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M22.4685 15H14.5315C14.238 15 14 15.2239 14 15.5001C14 15.7762 14.2379 16 14.5315 16H22.4685C22.762 16 23 15.7762 23 15.5001C23 15.2239 22.7621 15 22.4685 15Z"
                                fill="black" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M8.45944 13H1.54056C1.24206 13 1 13.2239 1 13.5001C1 13.7762 1.24199 14 1.54056 14H8.45944C8.75794 14 9 13.7762 9 13.5001C9 13.2239 8.75794 13 8.45944 13Z"
                                fill="black" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M18.8444 5.15145C18.6368 4.9495 18.3003 4.9495 18.0927 5.15152L13.3662 9.75127L10.9074 7.35839C10.6997 7.15637 10.3633 7.15637 10.1557 7.35839C9.9481 7.5604 9.9481 7.88784 10.1557 8.08986L12.9904 10.8485C13.0942 10.9495 13.2301 11 13.3662 11C13.5021 11 13.6383 10.9495 13.742 10.8485L18.8442 5.88299C19.0519 5.68091 19.0519 5.35347 18.8444 5.15145Z"
                                fill="black" />
                        </svg>
                        <p>Delivery to <span>{{userDeliveryAddressToUse['address']}}</span> </p>
                        <div class="dropdown addresslist" style="height: 16px;">
                            <a href="javascript:void(0)" class="dropdown-toggle " id="addressDropDown"
                                data-toggle="dropdown">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0.125 12.7188L9.80469 3.03906L13.0859 6.32031L3.40625 16H0.125V12.7188ZM15.6289 3.77734L14.0293 5.37695L10.748 2.0957L12.3477 0.496094C12.5117 0.332031 12.7168 0.25 12.9629 0.25C13.209 0.25 13.4141 0.332031 13.5781 0.496094L15.6289 2.54688C15.793 2.71094 15.875 2.91602 15.875 3.16211C15.875 3.4082 15.793 3.61328 15.6289 3.77734Z"
                                        fill="#D3832B" /> </svg>
                            </a>
                            <div class="dropdown-menu" id="dropdown" aria-labelledby="dropdownMenuButton">
                                <div class="editaddress">
                                    <!-- <img src="assets/images/truck.png"> -->
                                    <svg width="35" height="22" viewBox="0 0 35 22" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                                            width="35" height="23">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M0 0.00878906H34.9999V22.0002H0V0.00878906Z" fill="white" />
                                        </mask>
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M33.904 13.944H33.2829C32.9404 13.944 32.6618 13.6673 32.6618 13.3271V12.7101H33.9039V13.944H33.904ZM29.1911 20.9116C27.8816 20.9116 26.8163 19.8535 26.8163 18.5528C26.8163 17.2521 27.8816 16.194 29.1911 16.194C30.5005 16.194 31.5658 17.2521 31.5658 18.5528C31.5658 19.8535 30.5005 20.9116 29.1911 20.9116ZM9.90083 20.9116C8.59141 20.9116 7.52609 19.8535 7.52609 18.5528C7.52609 17.2521 8.59141 16.194 9.90083 16.194C11.2103 16.194 12.2756 17.2521 12.2756 18.5528C12.2756 19.8535 11.2103 20.9116 9.90083 20.9116ZM25.6472 9.29897V5.74257H30.5168L31.4119 9.29897H25.6472ZM25.6472 3.42008H29.7756C30.4404 3.42008 30.9812 3.95731 30.9812 4.61765V4.65391H25.6472V3.42008ZM32.5499 9.3317L31.6436 5.73055C31.8914 5.67827 32.0772 5.4599 32.0772 5.19828V4.61765C32.0772 3.357 31.0447 2.33142 29.7756 2.33142H25.6472V1.13378C25.6472 0.513431 25.1392 0.00878906 24.5146 0.00878906H3.47074C2.84621 0.00878906 2.33816 0.513431 2.33816 1.13378V11.0046C2.33816 11.3052 2.58351 11.5489 2.8862 11.5489C3.18883 11.5489 3.43424 11.3052 3.43424 11.0046V1.13378C3.43424 1.11375 3.45058 1.09752 3.47074 1.09752H24.5146C24.5347 1.09752 24.5511 1.11375 24.5511 1.13378V11.0047C24.5511 11.3053 24.7965 11.5491 25.0991 11.5491C25.4017 11.5491 25.6471 11.3054 25.6471 11.0047V10.3876H32.1118C32.1124 10.3876 32.1128 10.3878 32.1133 10.3878C32.1139 10.3878 32.1143 10.3877 32.1148 10.3877C32.9103 10.3882 33.5857 10.9069 33.8177 11.6215H32.1137C31.811 11.6215 31.5656 11.8652 31.5656 12.1659V13.3271C31.5656 14.2676 32.336 15.0328 33.2827 15.0328H33.9039V17.4278H32.4709C32.0002 16.0778 30.7081 15.1053 29.1909 15.1053C27.6737 15.1053 26.3815 16.0778 25.9109 17.4278H25.647V13.3271C25.647 13.0265 25.4017 12.7826 25.099 12.7826C24.7964 12.7826 24.5509 13.0264 24.5509 13.3271V17.4277H13.1809C12.7101 16.0776 11.4181 15.1051 9.90083 15.1051C8.38359 15.1051 7.09146 16.0776 6.62081 17.4277H3.47074C3.45058 17.4277 3.43424 17.4114 3.43424 17.3914V16.1939H5.80897C6.1116 16.1939 6.35701 15.9502 6.35701 15.6495C6.35701 15.3488 6.11167 15.1051 5.80897 15.1051H0.548037C0.24541 15.1051 0 15.3488 0 15.6495C0 15.9502 0.245342 16.1939 0.548037 16.1939H2.33823V17.3914C2.33823 18.0118 2.84628 18.5164 3.47081 18.5164H6.43105C6.43091 18.5285 6.43009 18.5405 6.43009 18.5527C6.43009 20.4536 7.98711 22.0002 9.90083 22.0002C11.8146 22.0002 13.3716 20.4536 13.3716 18.5527C13.3716 18.5405 13.3708 18.5285 13.3706 18.5164H25.7211C25.721 18.5285 25.7201 18.5405 25.7201 18.5527C25.7201 20.4536 27.2772 22.0002 29.191 22.0002C31.1046 22.0002 32.6616 20.4536 32.6616 18.5527C32.6616 18.5405 32.6608 18.5285 32.6607 18.5164H34.452C34.7545 18.5164 34.9999 18.2727 34.9999 17.9721V12.1658C35 10.7322 33.9352 9.54117 32.5499 9.3317Z"
                                            fill="black" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M10 18C9.44858 18 9 18.4486 9 19C9 19.5514 9.44858 20 10 20C10.5514 20 11 19.5514 11 19C11 18.4486 10.5514 18 10 18Z"
                                            fill="black" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M29 18C28.4485 18 28 18.4486 28 19C28 19.5514 28.4485 20 29 20C29.5515 20 30 19.5514 30 19C30 18.4486 29.5515 18 29 18Z"
                                            fill="black" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M22.4685 15H14.5315C14.238 15 14 15.2239 14 15.5001C14 15.7762 14.2379 16 14.5315 16H22.4685C22.762 16 23 15.7762 23 15.5001C23 15.2239 22.7621 15 22.4685 15Z"
                                            fill="black" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M8.45944 13H1.54056C1.24206 13 1 13.2239 1 13.5001C1 13.7762 1.24199 14 1.54056 14H8.45944C8.75794 14 9 13.7762 9 13.5001C9 13.2239 8.75794 13 8.45944 13Z"
                                            fill="black" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M18.8444 5.15145C18.6368 4.9495 18.3003 4.9495 18.0927 5.15152L13.3662 9.75127L10.9074 7.35839C10.6997 7.15637 10.3633 7.15637 10.1557 7.35839C9.9481 7.5604 9.9481 7.88784 10.1557 8.08986L12.9904 10.8485C13.0942 10.9495 13.2301 11 13.3662 11C13.5021 11 13.6383 10.9495 13.742 10.8485L18.8442 5.88299C19.0519 5.68091 19.0519 5.35347 18.8444 5.15145Z"
                                            fill="black" />
                                    </svg>
                                    <form>
                                        <input type="text" #delivery name="delivery" [(ngModel)]="deliveryAddress"
                                            #delivery placeholder="Delivery">
                                        <button type="submit" class="btn btn-primary btn-sm"
                                            (click)="saveUserDeliveryLocation()">Save</button>
                                    </form>
                                    <div *ngIf="isError" class="addreserror"><span>Please enter a valid address </span>
                                    </div>
                                    <!-- <a href="javascript:void(0)" (click)="closeSearch()" style="height: 13px;">
                                        <svg width="13" height="13" viewBox="0 0 13 13" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M12.6318 1.24414L7.70996 6.125L12.6318 11.0059L11.4014 12.2363L6.47949 7.35547L1.59863 12.2363L0.368164 11.0059L5.24902 6.125L0.368164 1.24414L1.59863 0.0136719L6.47949 4.89453L11.4014 0.0136719L12.6318 1.24414Z"
                                                fill="#333333" /> </svg>
                                    </a> -->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="main">
        <div class="container">
            <div id="filter" class="nav nav-tabs justify-content-center">

                <input class="all" name="categoryFilter" type="radio" (click)="categoryFilter($event)" value="All"
                    checked="" />
                <input class="wine" name="categoryFilter" type="radio" (click)="categoryFilter($event)" value="Wine" />
                <input class="liquor" name="categoryFilter" type="radio" (click)="categoryFilter($event)"
                    value="Liquor" />
                <input class="beer" name="categoryFilter" type="radio" (click)="categoryFilter($event)" value="Beer" />
                <input class="mixer" name="categoryFilter" type="radio" (click)="categoryFilter($event)"
                    value="Mixer" />

            </div>

            <div class="productsorting">
                <p class="brgrmed">{{productCountDisplay}} Results</p>
                <div class="dropdown d-flex align-items-center">
                    <label class="brgrmed mb-0">SORT BY:</label>
                    <a class="btn dropdown-toggle" href="javascript:void(0)" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{sortingTypeSelected}} <img
                            src="assets/images/angle-down2.png"></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="javascript:void(0)"
                            [ngClass]="{'active':sortingTypeSelected == 'Name: A-Z'}"
                            (click)="sortProduct('product.iName',false,$event)">Name: A-Z</a>
                        <a class="dropdown-item" href="javascript:void(0)"
                            [ngClass]="{'active':sortingTypeSelected == 'Name: Z-A'}"
                            (click)="sortProduct('product.iName',true,$event)">Name: Z-A</a>
                        <a class="dropdown-item" href="javascript:void(0)"
                            [ngClass]="{'active':sortingTypeSelected == '$: High to Low'}"
                            (click)="sortProduct('iSalePrice',true,$event)">$: High to Low</a>
                        <a class="dropdown-item" href="javascript:void(0)"
                            [ngClass]="{'active':sortingTypeSelected == '$: Low to High'}"
                            (click)="sortProduct('iSalePrice',false,$event)">$: Low to High</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <ul id="accord1" class="accordian">
                        <li *ngFor="let filterOption of filterListing | keys ; let j = index"
                            [id]="'activeContentFilterli'+j"
                            [ngClass]="{'hideFilter':((filterOption.value.values.length < 1))}">
                            <span class="accord-heading" (click)="recordOpenaAcordian(j,$event)"
                                [ngClass]="{'activeCategory':applyClassFilter(j)}">{{filterOption.value.displayName}}<img
                                    src="assets/images/angle-down3.png" /></span>
                            <!-- <div *ngIf="i==0" class="accord-content" style="display: block;">
                                <span *ngFor="let category of filterOption.value.values; let i = index">
                                    <a href="javascript:;">{{category}}</a>
                                </span>
                            </div> -->
                            <div class="accord-content" [id]="'activeContentFilter'+j">
                                <span *ngFor="let category of filterOption.value.values; let i = index">
                                    <a href="javascript:; " class="addColorSub" [ngClass]="{'activeSubCategory':applyClassSubFilter(j,i)}"
                                        (click)="fliterProductCategoary(filterOption.key,category,j,i)">{{category}}</a>
                                </span>
                            </div>

                        </li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <div [(ngSwitch)]="productCount">
                        <div *ngSwitchCase="0">
                            <div class="col-sm-12 productlist">
                                <div class="empty text-center">
                                    <h2>No offers available</h2>
                                </div>
                            </div>
                        </div>
                        <div *ngSwitchCase="-1">
                            <div class="col-sm-12 productlistings">
                                <div class="empty text-center">
                                    <h2>Loading</h2>
                                    <!-- <img src="assets/images/wine-loader.gif"> -->
                                </div>
                            </div>
                        </div>
                        <div *ngSwitchDefault>
                            <div class="productlist">
                                <div class="singleproduct {{product.remQty <= 0 ? 'outOfStockProduct':''}}"
                                    *ngFor="let product of productListing | orderBy: sortingKey:sortingReverse; let i = index"
                                    [routerLink]="['/productdetail', product.id,breadcumbProductCategory]">
                                    <div class="productimg text-center">
                                        <!-- //<img src="{{ product.product | productImageUrl}}"> -->
                                        <img src="{{ product.product | productImageUrl}}" (load)="product.loaded = true;" [hidden]="!product.loaded" />
                                         <img src="assets/images/logo3x.png" [hidden]="product.loaded">
                                            <!-- <img src="{{ product.product | productImageUrl}}" (load)="showImages(i)" [hidden]="!product.loaded" />
                                         <img src="assets/images/logo3x.png" [hidden]="product.loaded"> -->
                                        <div class="offertag text-left"
                                            *ngIf="product.product.isVolumeDiscountEligible ">
                                            <p *ngIf="product.minQty == 1"><span
                                                    class="offerper prbold">{{product.percentDiscount}}%</span> <span
                                                    class="offeroff prbold">Off</span> Over {{product.minQty}} Bottle
                                            </p>
                                            <p *ngIf="product.minQty > 1"><span
                                                    class="offerper prbold">{{product.percentDiscount}}%</span> <span
                                                    class="offeroff prbold">Off</span> Over {{product.minQty}} Bottles
                                            </p>
                                        </div>
                                        <div *ngIf="product.isSponsored" class="bedge">
                                            <span class="col-white">Cool</span>
                                        </div>
                                    </div>
                                    <div class="singleproductdetail">
                                        <h5 title="{{product.product.name}}">
                                            <a style="color:#000;"
                                                [routerLink]="['/productdetail', product.id,breadcumbProductCategory]">{{product.product.name}}</a>
                                        </h5>
                                        <div class="ratingsdiv">
                                            <star-rating-comp [starType]="'svg'" [staticColor]="'ok'"
                                                [direction]="'ltr'" [step]="0.1" [showHalfStars]="true"
                                                [readOnly]="true" [rating]="product.product.rating">
                                            </star-rating-comp>
                                            <span
                                                *ngIf="product.product.ratingCount > 1">({{product.product.ratingCount}}
                                                Ratings)</span>
                                            <span
                                                *ngIf="product.product.ratingCount == 1">({{product.product.ratingCount}}
                                                Rating)</span>
                                        </div>
                                        <div class="pricediv">
                                            <span *ngIf="product.originalPrice != product.salePrice"
                                                class="old_price brgrreg">${{product.originalPrice}}</span>
                                            <span class="new_price brgrmed">${{product.salePrice}}</span>
                                        </div>
                                        <span
                                            class="brgrreg bottlequa">{{product.product.size}}{{product.product.units}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>