#alltab.nav-link{    padding: 0;
    font-family: 'BrandonGrotesque-Medium';
    width: 80px;
    text-align: center;border: none;border-bottom: 4px solid transparent;background: transparent;}
nav-tabs #alltab.nav-link:focus, 
.nav-tabs #alltab.nav-link:hover{border: none;}
#alltab.nav-link.active{border-bottom: 4px solid #A72B2A;}

.outOfStockProduct {
    opacity: .3;
    pointer-events: none;
}
.addreserror{    position: absolute;
    left: 45px;
    bottom: -9px;
    text-align: center;}
.addreserror span {
    color: #f18030;
    font-size: 10px;
}
.addColorSub{
    color:#666;
}
.activeCategory{
    color:#A72B2A;
}
.activeSubCategory{
    color:#A72B2A;
    font-weight: bold;
}
.hideFilter{
    display: none;
}
.activeContentA{
    display: block;
}
.dummyClass{
    position: fixed;
}