<section class="storebanner">
    <div class="container">
        <div class="row  align-items-center">
            <div class="col-lg-8">
                <h1 class="brgrblk">Reach more customers & increase your sales with Bevvi.</h1>
                <h3>Bevvi is marketplace for alcohol that connects local retail stores with businesses & large-volume
                    customers.</h3>
            </div>
            <div class="col-lg-4">
                <div class="storesignup">
                    <h4 class="prbold">Interested in growing your business with us? Let us know how to get in touch.
                    </h4>
                    <flash-messages></flash-messages>
                    <form class="liquorform" [formGroup]="liqoureStoreSignup" (ngSubmit)="onSubmit()"
                        autocomplete="off">
                        <div class="form-group position-relative">
                            <input type="text" class="form-control" required="required" invalid
                                autocomplete="doNotAutoComplete" formControlName="firstname" name="firstname" />
                            <label for="input" class="control-label">First Name*</label>
                            <label class="validate-error help-block with-errors"
                                *ngIf="firstname.errors && firstname.errors.required && formSubmitted">
                                Please enter Your First Name
                            </label>
                        </div>
                        <div class="form-group position-relative">
                            <input type="text" class="form-control" required="required" autocomplete="doNotAutoComplete"
                                formControlName="lastname" name="lastname" />
                            <label for="input" class="control-label">Last Name*</label>
                            <label class="validate-error help-block with-errors"
                                *ngIf="lastname.errors && lastname.errors.required && formSubmitted">
                                Please enter Your Last Name
                            </label>
                        </div>
                        <div class="form-group position-relative">
                            <input type="email" class="form-control" required="required"
                                autocomplete="doNotAutoComplete" formControlName="email" name="email" />
                            <label for="input" class="control-label">Email*</label>
                            <label class="validate-error help-block with-errors"
                                *ngIf="email.invalid && email.errors.required && formSubmitted">
                                Please enter a valid email address
                            </label>
                            <label class="validate-error help-block with-errors"
                                *ngIf="email.invalid && !email.errors.required && email.errors.email && formSubmitted">
                                Please enter a valid email address
                            </label>
                        </div>
                        <div class="form-group position-relative">
                            <input type="text" class="form-control" required="required" mask='(000) 000-0000'
                                autocomplete="doNotAutoComplete" formControlName="phoneNumber" name="phoneNumber" />
                            <label for="input" class="control-label">Phone*</label>
                            <label class="validate-error help-block with-errors"
                                *ngIf="phoneNumber.errors && phoneNumber.errors.required && formSubmitted">
                                Please enter Your Phone Number
                            </label>
                        </div>
                        <div class="form-group position-relative">
                            <input type="text" class="form-control" required="required" autocomplete="doNotAutoComplete"
                                formControlName="storename" name="storename" />
                            <label for="input" class="control-label">Store Name*</label>
                            <label class="validate-error help-block with-errors"
                                *ngIf="storename.errors && storename.errors.required && formSubmitted">
                                Please enter Your Store Name
                            </label>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group position-relative">
                                    <input type="number" class="form-control" required="required"
                                        autocomplete="doNotAutoComplete" formControlName="zipcode" name="zipcode" />
                                    <label for="input" class="control-label">Zip Code*</label>
                                    <label class="validate-error help-block with-errors"
                                        *ngIf="zipcode.errors && zipcode.errors.required && formSubmitted">
                                        Please enter Zipcode
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group position-relative">
                                    <input type="text" class="form-control" required="required"
                                        autocomplete="doNotAutoComplete" formControlName="state" name="state" />
                                    <label for="input" class="control-label">State*</label>
                                    <label class="validate-error help-block with-errors"
                                        *ngIf="state.errors && state.errors.required && formSubmitted">
                                        Please enter State
                                    </label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">SUBMIT</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>