<input type="hidden" id="hiddentnuoma" value="{{ cartItems | calculateTotalPrice}}" />
<input type="hidden" id="hiddenetad" value="{{ userPickupTime | amDateFormat: 'YYYY-MM-DDTHH:mm:ss.000' }}Z" />
<section class="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col">
                <a [routerLink]="['/']">Home</a>&nbsp;&nbsp;>&nbsp;&nbsp;<span>Place Order</span>
            </div>
        </div>
    </div>
</section>

<section class="main shoppingcartpage">
    <div class="container">
        <div class="shoppingcart">
            <h4 class="brgrmed">Place Order</h4>
        </div>
        <div class="cart-process d-none d-md-block">
            <div class="row steps-row">
                <div class="col-sm-12">
                    <ol class="cd-multi-steps text-bottom">
                        <li class="visited">
                            <a href="javascript:void(0)">Finalize Order</a>
                        </li>
                        <li class="visited">
                            <a href="javascript:void(0)">Delivery Details</a>
                        </li>
                        <li class="current">
                            <a href="javascript:void(0)">Place Order</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Order Summary</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="cart-detail done d-md-none d-lg-none">
            <div class="mobilecartheading d-md-none d-lg-none" onclick="">
                <h5>1. Finalise Order</h5>
                <svg class="leftarrowcart" width="18" height="18" viewBox="0 0 18 18" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M5.01711 8.4633C4.76475 8.21258 4.35466 8.21258 4.1023 8.4633C3.84993 8.71402 3.84993 9.12143 4.1023 9.37214L7.08332 12.3337C7.2095 12.4591 7.36723 12.5218 7.54073 12.5218C7.5565 12.5218 7.5565 12.5218 7.57227 12.5218C7.74577 12.5061 7.91927 12.4277 8.04545 12.2867L15.5059 3.40199C15.7267 3.1356 15.6952 2.72819 15.427 2.49314C15.1589 2.27377 14.7488 2.30511 14.5122 2.57149L7.49341 10.9234L5.01711 8.4633Z"
                        fill="#17AB13" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M13.752 1.37496C10.184 -0.856171 5.60782 -0.329376 2.62939 2.64547C-0.876464 6.14711 -0.876464 11.8644 2.62939 15.366C4.38232 17.1168 6.69371 18 8.98958 18C11.2854 18 13.5968 17.1168 15.3498 15.366C18.3437 12.3757 18.8556 7.78947 16.6063 4.22585C16.4201 3.93147 16.0323 3.8385 15.7376 4.02443C15.4428 4.21036 15.3498 4.59771 15.5359 4.8921C17.475 7.9599 17.0251 11.8954 14.45 14.4674C11.4406 17.4732 6.52307 17.4732 3.51361 14.4674C0.504161 11.4615 0.504161 6.54995 3.51361 3.54412C6.08871 0.987612 10.0134 0.538287 13.0849 2.44405C13.3797 2.62997 13.7675 2.53701 13.9536 2.24262C14.1398 1.94824 14.0467 1.56089 13.752 1.37496Z"
                        fill="#4A4A4A" /> </svg>
            </div>
        </div>
        <div class="cart-detail done d-md-none d-lg-none" onclick="">
            <div class="mobilecartheading d-md-none d-lg-none">
                <h5>2. Delivery Details</h5>
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M5.01711 8.4633C4.76475 8.21258 4.35466 8.21258 4.1023 8.4633C3.84993 8.71402 3.84993 9.12143 4.1023 9.37214L7.08332 12.3337C7.2095 12.4591 7.36723 12.5218 7.54073 12.5218C7.5565 12.5218 7.5565 12.5218 7.57227 12.5218C7.74577 12.5061 7.91927 12.4277 8.04545 12.2867L15.5059 3.40199C15.7267 3.1356 15.6952 2.72819 15.427 2.49314C15.1589 2.27377 14.7488 2.30511 14.5122 2.57149L7.49341 10.9234L5.01711 8.4633Z"
                        fill="#17AB13" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M13.752 1.37496C10.184 -0.856171 5.60782 -0.329376 2.62939 2.64547C-0.876464 6.14711 -0.876464 11.8644 2.62939 15.366C4.38232 17.1168 6.69371 18 8.98958 18C11.2854 18 13.5968 17.1168 15.3498 15.366C18.3437 12.3757 18.8556 7.78947 16.6063 4.22585C16.4201 3.93147 16.0323 3.8385 15.7376 4.02443C15.4428 4.21036 15.3498 4.59771 15.5359 4.8921C17.475 7.9599 17.0251 11.8954 14.45 14.4674C11.4406 17.4732 6.52307 17.4732 3.51361 14.4674C0.504161 11.4615 0.504161 6.54995 3.51361 3.54412C6.08871 0.987612 10.0134 0.538287 13.0849 2.44405C13.3797 2.62997 13.7675 2.53701 13.9536 2.24262C14.1398 1.94824 14.0467 1.56089 13.752 1.37496Z"
                        fill="#4A4A4A" /> </svg>
            </div>
        </div>
        <div class="cart-detail activate position-relative">
            <div class="mobilecartheading d-md-none d-lg-none">
                <h5>3. Place Order</h5>
                <!-- <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M5.01711 8.4633C4.76475 8.21258 4.35466 8.21258 4.1023 8.4633C3.84993 8.71402 3.84993 9.12143 4.1023 9.37214L7.08332 12.3337C7.2095 12.4591 7.36723 12.5218 7.54073 12.5218C7.5565 12.5218 7.5565 12.5218 7.57227 12.5218C7.74577 12.5061 7.91927 12.4277 8.04545 12.2867L15.5059 3.40199C15.7267 3.1356 15.6952 2.72819 15.427 2.49314C15.1589 2.27377 14.7488 2.30511 14.5122 2.57149L7.49341 10.9234L5.01711 8.4633Z" fill="#17AB13"/> <path fill-rule="evenodd" clip-rule="evenodd" d="M13.752 1.37496C10.184 -0.856171 5.60782 -0.329376 2.62939 2.64547C-0.876464 6.14711 -0.876464 11.8644 2.62939 15.366C4.38232 17.1168 6.69371 18 8.98958 18C11.2854 18 13.5968 17.1168 15.3498 15.366C18.3437 12.3757 18.8556 7.78947 16.6063 4.22585C16.4201 3.93147 16.0323 3.8385 15.7376 4.02443C15.4428 4.21036 15.3498 4.59771 15.5359 4.8921C17.475 7.9599 17.0251 11.8954 14.45 14.4674C11.4406 17.4732 6.52307 17.4732 3.51361 14.4674C0.504161 11.4615 0.504161 6.54995 3.51361 3.54412C6.08871 0.987612 10.0134 0.538287 13.0849 2.44405C13.3797 2.62997 13.7675 2.53701 13.9536 2.24262C14.1398 1.94824 14.0467 1.56089 13.752 1.37496Z" fill="#4A4A4A"/> </svg> -->
            </div>
            <div class="row d-flex align-items-center justify-content-between position-relative mb-2">
                <div class="col d-flex align-items-center justify-content-between">
                    <a [routerLink]="['/cart-delivery']" class="col-primary f-18"><svg width="26" height="22"
                            style="vertical-align: sub;" class="mr-2 leftarrowcart" viewBox="0 0 26 22" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.99927 21L2 10.9995L10 1" stroke="#A72B2A" stroke-width="2"
                                stroke-linecap="round" />
                            <path d="M25 11H3" stroke="#A72B2A" stroke-width="2" stroke-linecap="round" /> </svg>
                        Back</a>
                    <div class="datedelivery d-none d-md-block d-lg-block">
                        <div>
                            <p>
                                <span
                                    *ngIf="discountJsonToDisplay['est1'] && discountJsonToDisplay['est1']['establishmentId']"
                                    class="prreg">{{ discountJsonToDisplay.est1.estCategory }}:</span>
                                <span
                                    *ngIf="discountJsonToDisplay['est2'] && discountJsonToDisplay['est2']['establishmentId']"
                                    class="prreg">{{ discountJsonToDisplay.est2.estCategory }}:</span>
                            </p>
                            <p>Delivery Date
                                <span
                                    *ngIf="discountJsonToDisplay['est1'] && discountJsonToDisplay['est1']['establishmentId']"
                                    class="prbold">{{ deliveryDateTime.deliveryDate | date: 'MMMM d, EEEE' }}</span>
                                <span
                                    *ngIf="discountJsonToDisplay['est2'] && discountJsonToDisplay['est2']['establishmentId']"
                                    class="prbold">{{ deliveryDateTime.otherDeliveryDate | date: 'MMMM d, EEEE' }}</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col d-flex align-items-center justify-content-between right-order-btn">
                    <a href="#dateChange" data-toggle="modal" class="editlink d-none d-md-block d-lg-block">Edit</a>
                    <button [disabled]="placeOrderIsDisabled" class="btn btn-primary" type="button"
                        (click)="place_order()">Place Order</button>
                </div>
            </div>
            <div class=" d-flex align-items-center justify-content-between mb-4 d-md-none d-lg-none">
                <div class=" datedelivery">
                    <div>
                        <p>
                            <span
                                *ngIf="discountJsonToDisplay['est1'] && discountJsonToDisplay['est1']['establishmentId']"
                                class="prreg">{{ discountJsonToDisplay.est1.estCategory }}:</span>
                            <span
                                *ngIf="discountJsonToDisplay['est2'] && discountJsonToDisplay['est2']['establishmentId']"
                                class="prreg">{{ discountJsonToDisplay.est2.estCategory }}:</span>
                        </p>
                        <p>Delivery Date
                            <span
                            *ngIf="discountJsonToDisplay['est1'] && discountJsonToDisplay['est1']['establishmentId']"
                            class="prbold">{{ deliveryDateTime.deliveryDate | date: 'MMMM d, EEEE' }}</span>
                        <span *ngIf="discountJsonToDisplay['est2'] && discountJsonToDisplay['est2']['establishmentId']"
                            class="prbold">{{ deliveryDateTime.otherDeliveryDate | date: 'MMMM d, EEEE' }}</span></p>
                    </div>
                </div>
                <a href="#dateChange" data-toggle="modal" class=" editlink">Edit</a>
            </div>
            <flash-messages></flash-messages>
            <div class="payment-card-box">
                <div class="row align-items-center">
                    <div class="col d-flex align-items-center payment-card-detail pr-0">
                        <div class="method-heading">
                            <h5 class="brgrmed">PAYMENT METHODS: </h5>
                        </div>
                        <span *ngIf="selectedCardData.length == 0"> No card selected</span>
                        <span
                            *ngIf="selectedCardData.length > 0">****&nbsp;****&nbsp;****&nbsp;{{selectedCardData[0].card.last4}}</span>
                        <img  *ngIf="selectedCardData.length > 0" src="{{selectedCardData[0].card.brand | cardImage }}">
                    </div>
                    <div class="col text-right pl-0">
                        <a href="#paymentChange" id="openChoosePayment" data-toggle="modal" class="chng-pmnt">Change
                            <span>payment
                                method</span></a>
                    </div>
                </div>
            </div>

            <div class="palceordercart carttable">
                <table class="table cartpage2-table">
                    <thead>
                        <tr>
                            <th colspan="2">Product</th>
                            <th>Item Price</th>
                            <th class="text-center">Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let items of cartItems; let i = index" attr.data-cartId="{{items.id}}">
                            <td width="10%" class="productimg"><img src="{{ items.product | productImageUrl }}"></td>
                            <td class="productname"> <a [routerLink]="['/productdetail', items.offer.id,'ALL']"
                                    title="{{items.product.name}}">{{items.product.name}}</a></td>
                            <td width="15%"><span class="d-block d-md-none d-lg-none">Item Price</span><span
                                    class="col-primary newprice">${{items.offer.salePrice}}</span><span
                                    class="oldprice" *ngIf="items.offer.originalPrice != items.offer.salePrice">${{items.offer.originalPrice}}</span></td>
                            <td align="center" width="5%"><span
                                    class="d-block d-md-none d-lg-none">Quantity</span>{{items.quantity}}
                            </td>
                            <td width="15%" class="totalprice"><span
                                    class="d-block d-md-none d-lg-none">Total</span>${{ items.offer.salePrice | calculateCartPrice: items.quantity}}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td align="right" colspan="2"><span class="tabletotal">Subtotal:</span></td>
                            <td align="left"><span class="tabletotal">${{ cartItems | calculateSubtotal }}</span></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>

                            <td align="right" colspan="2"><span class="tabletotal">Delivery Fee:</span></td>
                            <td align="left"><span class="tabletotal">${{deliveryFee}}</span></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td align="right" colspan="2"><span class="tabletotal">Tip Amount:</span></td>
                            <td align="left"><span class="tabletotal">${{tipAmountToDisplay}}</span></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td align="right" colspan="2"><span class="tabletotal">Tax:</span></td>
                            <td align="left"><span class="tabletotal">${{ cartItems | calculateTax }}</span></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td align="right" colspan="2"><span class="tabletotal">Promotions/Discounts:</span></td>
                            <td align="left"><span class="tabletotal">-${{ cartItems | calculateSavedPrice}}</span></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td align="right" colspan="2"><span class="carttotal prbold">Total:</span></td>
                            <td align="left"><span class="carttotal prbold">${{ cartItems | calculateTotalPrice}}</span>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="addition-info">
                <h5 class="col-primary brgrmed">Add delivery instructions</h5>
                <textarea id="deliveryInstructions"
                    placeholder="Delivery instructions (e.g. Check in with doorman.)"></textarea>
            </div>

            <div class="d-flex align-items-center justify-content-end">
                <button [disabled]="placeOrderIsDisabled" class="btn btn-primary" type="button"
                    (click)="place_order()">Place Order</button>
            </div>
        </div>
        <div class="cart-detail deactivate d-md-none d-lg-none">
            <div class="mobilecartheading">
                <h5>4. Order Summery</h5>
                <!-- <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M5.01711 8.4633C4.76475 8.21258 4.35466 8.21258 4.1023 8.4633C3.84993 8.71402 3.84993 9.12143 4.1023 9.37214L7.08332 12.3337C7.2095 12.4591 7.36723 12.5218 7.54073 12.5218C7.5565 12.5218 7.5565 12.5218 7.57227 12.5218C7.74577 12.5061 7.91927 12.4277 8.04545 12.2867L15.5059 3.40199C15.7267 3.1356 15.6952 2.72819 15.427 2.49314C15.1589 2.27377 14.7488 2.30511 14.5122 2.57149L7.49341 10.9234L5.01711 8.4633Z" fill="#17AB13"/> <path fill-rule="evenodd" clip-rule="evenodd" d="M13.752 1.37496C10.184 -0.856171 5.60782 -0.329376 2.62939 2.64547C-0.876464 6.14711 -0.876464 11.8644 2.62939 15.366C4.38232 17.1168 6.69371 18 8.98958 18C11.2854 18 13.5968 17.1168 15.3498 15.366C18.3437 12.3757 18.8556 7.78947 16.6063 4.22585C16.4201 3.93147 16.0323 3.8385 15.7376 4.02443C15.4428 4.21036 15.3498 4.59771 15.5359 4.8921C17.475 7.9599 17.0251 11.8954 14.45 14.4674C11.4406 17.4732 6.52307 17.4732 3.51361 14.4674C0.504161 11.4615 0.504161 6.54995 3.51361 3.54412C6.08871 0.987612 10.0134 0.538287 13.0849 2.44405C13.3797 2.62997 13.7675 2.53701 13.9536 2.24262C14.1398 1.94824 14.0467 1.56089 13.752 1.37496Z" fill="#4A4A4A"/> </svg> -->
            </div>
        </div>
    </div>
</section>

<div class="modal" id="paymentChange">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title col-primary prbold">Change Payment</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="modal-cards">
                    <ng-template *ngIf="userSavedCards.length == 0;then noCardsList else yesCardsList"></ng-template>
                    <ng-template #noCardsList>
                        <h5 style="text-align: center;">You have no Saved Cards</h5>
                    </ng-template>
                    <ng-template #yesCardsList>
                        <div class="cards-box" *ngFor="let cards of userSavedCards; let i = index" data-dismiss="modal"
                            (click)="selectCardForPayment($event)">
                            <input type="radio" name="cardpayment" id="{{'card'+i}}">
                            <label for="{{'card'+i}}" class="labelItem" [ngClass]="{'selected': i==0 }">
                                <div class="d-flex align-items-end justify-content-between">
                                    <span id="star{{i}}" attr.data-card-id="{{cards.id}}">**** **** ****
                                        {{cards.card.last4}}</span>
                                    <!-- <button type="button" class="close">&times;</button> -->
                                </div>
                                <div class="d-flex align-items-end justify-content-between">
                                    <p>exp <span> {{cards.card.exp_month}}/{{cards.card.exp_year.toString()
                                    | slice:-2}}</span></p>
                                    <img src="{{cards.card.brand | cardImage }}">
                                </div>
                            </label>
                        </div>
                    </ng-template>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer justify-content-center">
                <a href="#addnewcard" data-toggle="modal" id="addcard" class="btn btn-secondary" data-dismiss="modal">+ Add another
                    card</a>
            </div>

        </div>
    </div>
</div>

<div class="modal" id="addnewcard">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title col-primary prbold">Add New Card</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form (ngSubmit)="saveCardDetailsToStripe()">
                <!-- Modal body -->
                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <p class="brgrreg text-center">Please type your credit card expiry date in MM/YYYY format.</p>
                            <div id="addCardError" class="brgrreg  flash-message alert-danger text-center hidden"></div>
                            <div class="form-group position-relative">
                                <input type="text" name="name" autocomplete='cc-name' class="form-control" required="">
                                <label for="input" class="control-label">Card Holder Name</label>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group position-relative">
                                <input type="text" type="tel" autocomplete="cc-number" id="cc-number" ccNum
                                    name="number" class="form-control" required="">
                                <label for="input" class="control-label">Card Number</label>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group position-relative">
                                <input type="tel" autocomplete="cc-exp" id="cc-exp" ccExp name="month"
                                    class="form-control" required="" pattern="([0-9]{2}[/]?){2}">
                                <label for="input" class="control-label">Exp Date</label>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group position-relative">
                                <input type="tel" autocomplete="cc-csc" id="cc-cvc" ccCvc name="cvv"
                                    class="form-control" maxlength="4" required="">
                                <label for="input" class="control-label">CVV</label>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group position-relative">
                                <input type="text" type="text" name="zip" autocomplete="zip" class="form-control"
                                    required="">
                                <label for="input" class="control-label">Zip Code</label>
                            </div>
                        </div>
                    </div>


                </div>

                <!-- Modal footer -->
                <div class="modal-footer justify-content-center">
                    <button type="submit" [disabled]="submitIsDisabled" class="btn btn-primary">SAVE CARD</button>
                </div>
            </form>

        </div>
    </div>
</div>
<div class="modal" id="dateChange">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title col-primary prbold">Select Your Delivery Date</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="deliverydatepicker">
                    <div id="datepicker" class="calendar"></div>
                    <div class="dateshowbtn">
                        <a href="javascript:void(0);" (click)="setTodayDate()">Today</a>
                        <span id="dateForServer1">March 6, 2019</span>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" (click)="getAvailableDates()"
                    data-dismiss="modal">Continue</button>
            </div>

        </div>
    </div>
</div>