<section class="breadcrumb">
   <div class="container">
      <div class="row">
         <div class="col">
            <a [routerLink]="['/']">Home</a>&nbsp;&nbsp;>&nbsp;&nbsp;<span>Order Summary</span>
         </div>
      </div>
   </div>
</section>

<section class="main shoppingcartpage">
   <div class="container">
      <div class="shoppingcart">
         <h4 class="brgrmed">Order Summary</h4>
      </div>
      <div class="cart-process d-none d-md-block">
         <div class="row steps-row">
            <div class="col-sm-12">
               <ol class="cd-multi-steps text-bottom">
                  <li class="visited">
                     <a href="javascript:void(0)">Finalize Order</a>
                  </li>
                  <li class="visited">
                     <a href="javascript:void(0)">Delivery Details</a>
                  </li>
                  <li class="visited">
                     <a href="javascript:void(0)">Place Order</a>
                  </li>
                  <li class="current">
                     <a href="javascript:void(0)">Order Summary</a>
                  </li>
               </ol>
            </div>
         </div>
      </div>
      <div class="cart-detail done d-md-none d-lg-none">
         <div class="mobilecartheading d-md-none d-lg-none">
            <h5>1. Finalise Order</h5>
            <svg class="leftarrowcart" width="18" height="18" viewBox="0 0 18 18" fill="none"
               xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M5.01711 8.4633C4.76475 8.21258 4.35466 8.21258 4.1023 8.4633C3.84993 8.71402 3.84993 9.12143 4.1023 9.37214L7.08332 12.3337C7.2095 12.4591 7.36723 12.5218 7.54073 12.5218C7.5565 12.5218 7.5565 12.5218 7.57227 12.5218C7.74577 12.5061 7.91927 12.4277 8.04545 12.2867L15.5059 3.40199C15.7267 3.1356 15.6952 2.72819 15.427 2.49314C15.1589 2.27377 14.7488 2.30511 14.5122 2.57149L7.49341 10.9234L5.01711 8.4633Z"
                  fill="#17AB13" />
               <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M13.752 1.37496C10.184 -0.856171 5.60782 -0.329376 2.62939 2.64547C-0.876464 6.14711 -0.876464 11.8644 2.62939 15.366C4.38232 17.1168 6.69371 18 8.98958 18C11.2854 18 13.5968 17.1168 15.3498 15.366C18.3437 12.3757 18.8556 7.78947 16.6063 4.22585C16.4201 3.93147 16.0323 3.8385 15.7376 4.02443C15.4428 4.21036 15.3498 4.59771 15.5359 4.8921C17.475 7.9599 17.0251 11.8954 14.45 14.4674C11.4406 17.4732 6.52307 17.4732 3.51361 14.4674C0.504161 11.4615 0.504161 6.54995 3.51361 3.54412C6.08871 0.987612 10.0134 0.538287 13.0849 2.44405C13.3797 2.62997 13.7675 2.53701 13.9536 2.24262C14.1398 1.94824 14.0467 1.56089 13.752 1.37496Z"
                  fill="#4A4A4A" /> </svg>
         </div>
      </div>
      <div class="cart-detail done d-md-none d-lg-none">
         <div class="mobilecartheading d-md-none d-lg-none">
            <h5>2. Delivery Details</h5>
            <svg class="leftarrowcart" width="18" height="18" viewBox="0 0 18 18" fill="none"
               xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M5.01711 8.4633C4.76475 8.21258 4.35466 8.21258 4.1023 8.4633C3.84993 8.71402 3.84993 9.12143 4.1023 9.37214L7.08332 12.3337C7.2095 12.4591 7.36723 12.5218 7.54073 12.5218C7.5565 12.5218 7.5565 12.5218 7.57227 12.5218C7.74577 12.5061 7.91927 12.4277 8.04545 12.2867L15.5059 3.40199C15.7267 3.1356 15.6952 2.72819 15.427 2.49314C15.1589 2.27377 14.7488 2.30511 14.5122 2.57149L7.49341 10.9234L5.01711 8.4633Z"
                  fill="#17AB13" />
               <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M13.752 1.37496C10.184 -0.856171 5.60782 -0.329376 2.62939 2.64547C-0.876464 6.14711 -0.876464 11.8644 2.62939 15.366C4.38232 17.1168 6.69371 18 8.98958 18C11.2854 18 13.5968 17.1168 15.3498 15.366C18.3437 12.3757 18.8556 7.78947 16.6063 4.22585C16.4201 3.93147 16.0323 3.8385 15.7376 4.02443C15.4428 4.21036 15.3498 4.59771 15.5359 4.8921C17.475 7.9599 17.0251 11.8954 14.45 14.4674C11.4406 17.4732 6.52307 17.4732 3.51361 14.4674C0.504161 11.4615 0.504161 6.54995 3.51361 3.54412C6.08871 0.987612 10.0134 0.538287 13.0849 2.44405C13.3797 2.62997 13.7675 2.53701 13.9536 2.24262C14.1398 1.94824 14.0467 1.56089 13.752 1.37496Z"
                  fill="#4A4A4A" /> </svg>
         </div>
      </div>
      <div class="cart-detail done d-md-none d-lg-none">
         <div class="mobilecartheading d-md-none d-lg-none">
            <h5>3. Place Order</h5>
            <svg class="leftarrowcart" width="18" height="18" viewBox="0 0 18 18" fill="none"
               xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M5.01711 8.4633C4.76475 8.21258 4.35466 8.21258 4.1023 8.4633C3.84993 8.71402 3.84993 9.12143 4.1023 9.37214L7.08332 12.3337C7.2095 12.4591 7.36723 12.5218 7.54073 12.5218C7.5565 12.5218 7.5565 12.5218 7.57227 12.5218C7.74577 12.5061 7.91927 12.4277 8.04545 12.2867L15.5059 3.40199C15.7267 3.1356 15.6952 2.72819 15.427 2.49314C15.1589 2.27377 14.7488 2.30511 14.5122 2.57149L7.49341 10.9234L5.01711 8.4633Z"
                  fill="#17AB13" />
               <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M13.752 1.37496C10.184 -0.856171 5.60782 -0.329376 2.62939 2.64547C-0.876464 6.14711 -0.876464 11.8644 2.62939 15.366C4.38232 17.1168 6.69371 18 8.98958 18C11.2854 18 13.5968 17.1168 15.3498 15.366C18.3437 12.3757 18.8556 7.78947 16.6063 4.22585C16.4201 3.93147 16.0323 3.8385 15.7376 4.02443C15.4428 4.21036 15.3498 4.59771 15.5359 4.8921C17.475 7.9599 17.0251 11.8954 14.45 14.4674C11.4406 17.4732 6.52307 17.4732 3.51361 14.4674C0.504161 11.4615 0.504161 6.54995 3.51361 3.54412C6.08871 0.987612 10.0134 0.538287 13.0849 2.44405C13.3797 2.62997 13.7675 2.53701 13.9536 2.24262C14.1398 1.94824 14.0467 1.56089 13.752 1.37496Z"
                  fill="#4A4A4A" /> </svg>
         </div>
      </div>
      <div class="cart-detail activate">
         <div class="mobilecartheading d-md-none d-lg-none">
            <h5>4. Order Summery</h5>
            <!-- <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M5.01711 8.4633C4.76475 8.21258 4.35466 8.21258 4.1023 8.4633C3.84993 8.71402 3.84993 9.12143 4.1023 9.37214L7.08332 12.3337C7.2095 12.4591 7.36723 12.5218 7.54073 12.5218C7.5565 12.5218 7.5565 12.5218 7.57227 12.5218C7.74577 12.5061 7.91927 12.4277 8.04545 12.2867L15.5059 3.40199C15.7267 3.1356 15.6952 2.72819 15.427 2.49314C15.1589 2.27377 14.7488 2.30511 14.5122 2.57149L7.49341 10.9234L5.01711 8.4633Z" fill="#17AB13"/> <path fill-rule="evenodd" clip-rule="evenodd" d="M13.752 1.37496C10.184 -0.856171 5.60782 -0.329376 2.62939 2.64547C-0.876464 6.14711 -0.876464 11.8644 2.62939 15.366C4.38232 17.1168 6.69371 18 8.98958 18C11.2854 18 13.5968 17.1168 15.3498 15.366C18.3437 12.3757 18.8556 7.78947 16.6063 4.22585C16.4201 3.93147 16.0323 3.8385 15.7376 4.02443C15.4428 4.21036 15.3498 4.59771 15.5359 4.8921C17.475 7.9599 17.0251 11.8954 14.45 14.4674C11.4406 17.4732 6.52307 17.4732 3.51361 14.4674C0.504161 11.4615 0.504161 6.54995 3.51361 3.54412C6.08871 0.987612 10.0134 0.538287 13.0849 2.44405C13.3797 2.62997 13.7675 2.53701 13.9536 2.24262C14.1398 1.94824 14.0467 1.56089 13.752 1.37496Z" fill="#4A4A4A"/> </svg> -->
         </div>

         <div class="ordersummary text-center">
            <!-- <img src="assets/images/success.png"> -->
            <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M0 18.5C0 8.29867 8.29939 0 18.5 0C28.7006 0 37 8.29867 37 18.5C37 28.7013 28.7006 37 18.5 37C8.29939 37 0 28.7013 0 18.5ZM1.42308 18.5C1.42308 27.9158 9.08421 35.5769 18.5 35.5769C27.9158 35.5769 35.5769 27.9158 35.5769 18.5C35.5769 9.08421 27.9158 1.42308 18.5 1.42308C9.08421 1.42308 1.42308 9.08421 1.42308 18.5Z"
                  fill="#4FAE01" />
               <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M27.7509 11.2355L16.7734 23.3382L10.1601 18.1535C9.85294 17.912 9.40224 17.9617 9.15653 18.2627C8.91011 18.5651 8.96011 19.0053 9.26796 19.2468L16.4106 24.8467C16.542 24.9496 16.6999 25 16.857 25C17.0541 25 17.2506 24.9202 17.3913 24.7648L28.8195 12.1651C29.0816 11.8767 29.0552 11.4336 28.7602 11.1774C28.4645 10.9198 28.0138 10.9457 27.7509 11.2355Z"
                  fill="#4FAE01" /> </svg>
            <h5 class="prbold">Order Received</h5>
            <h4 *ngIf="!isMultiple" class="col-primary">Thanks for your order {{ orderData['account']['firstName'] }}!
            </h4>
            <h4 *ngIf="isMultiple" class="col-primary">Thanks for your order {{ orderData['firstName'] }}!</h4>
            <p [hidden]="isMultiple">Your order number:<span>#{{ orderData['orderNumber'] }}</span></p>
            <p>All orders placed by 3pm should arrive within 3 hours.</p>
            <a [routerLink]="['/productlisting']" class="btn btn-primary mt-3">Go to Home Page</a>
         </div>

      </div>
   </div>
</section>